* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: #464646;
}

.wrapper {
    /* приложение должно растягиваться в рамках контейнера приложения */
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: Arial;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #333;
    /*background-image: url(https://s3.eu-central-1.amazonaws.com/proconstructor/facebook-902609146442342/test1/i/Globe7.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.btn_wr {
    width: 100%;
    text-align: center;
}
.t_btn {
    display: inline-block;
    padding: 12px;
    border: 2px solid hsla(154,48%,54%,1);
    border-radius: 20px;
    color: hsla(154,48%,54%,1);
    background-color: #fff;
    cursor: pointer;
}
.t_btn:hover {
    color: #fff;
    background-color: hsla(154,48%,54%,1);
}
.logo {
    position: absolute;
    width: 100px;
    height: 60px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    cursor: pointer;
}

/*====================================================================*/
/*====================================================================*/
/*====================================================================*/

html,
body {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial;
}
img {
    border: 0 none;
}
.wrapper {
    position: relative;
    height: 100%;
    overflow: auto;
}
.container {
    min-width: 960px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 42px 0;
}
.content {
    padding: 16px;
    background-color: #eee;
    overflow: hidden;
}

.button {
    display: inline-block;
    border: 0px solid;
    border-radius: 4px;
    background-color: #024889;
    color: #fff;
    min-width: 195px;
    min-height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 18px;
}
.button.__small {
    padding: 0 16px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.button + .button {
    margin-left: 12px;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    text-align: center;
    /*white-space: nowrap;*/
    background-color: #eee;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.modal.__active {
    display: block;
}

.modal_cnt {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    min-height: 100%;
    border-radius: 0;
}

.modal_hld {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    /*width: 480px;*/
    width: 100%;
    white-space: normal;
}

.slider_wr {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 375px;
    overflow: hidden;
}

.slides_cnt {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
    /*-ms-touch-action: none;*/
    /*touch-action: none;*/
    /* do nothing */
    /*-ms-touch-action: pan-y;*/
    /*touch-action: pan-y;*/
    /*-webkit-touch-callout: none;*/
    -webkit-tap-highlight-color: transparent;
}
.slides_cnt img {
    user-select: none;
}
.slider_item {
    list-style: none;
    list-style-image: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #e7e7e7;
    will-change: transform;
    transform: translateZ(0);
    white-space: nowrap;
}
/* helper for vertical align */
.slider_item_centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.slider_img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    margin-left: -4px; /* появляется отступ между span и img */
}

.animate {
    transition: transform 0.46s ease-out;
}

.text {
    width: 100%;
}

li.progressive {
    /*position: relative;*/
    /*display: block;*/
    overflow: hidden;
    outline: none;
}
li.progressive img {
    /*display: block;*/
    /*width: 100%;*/
    /*max-width: none;*/
    height: auto; /*height: auto is required or IE10/11 may miscalculate the image’s height.*/
    border: 0 none;
}
li.progressive img.preview {
    filter: blur(2vw);
    /*transform: scale(1.05);*/
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Замечание недочет: для картинок меньше контейнера: они растягиваются больше своего размера */
}

li.progressive img.reveal {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*will-change: transform, opacity;*/
    /*animation: reveal 1s ease-out;*/
}

/*@keyframes reveal {*/
    /*0% {transform: scale(1.05); opacity: 0;}*/
    /*100% {transform: scale(1); opacity: 1;}*/
/*}*/

.slide_counter {
    position: relative;
    margin: 0 auto;
    line-height: 28px;
}

.slide_counter_num {
    position: absolute;
    top: 0;
    left: 16px;
    color: #b1b1b1;
    font-size: 14px;
}

.slide_counter_i {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #d1d1d1;
    border-radius: 999px;
}
.slide_counter_i + .slide_counter_i {
    margin-left: 4px;
}
.slide_counter_i.__active {
    background-color: #3897f0;
}

.slide_text {
    padding: 16px;
    text-align: left;
    font-size: 14px;
    box-sizing: border-box;
}

.result_collage_wr {
    margin: 0 auto;
}

.result_collage_cnt {
    width: 284px; /* for 1 and 4 items in collage */
    height: 220px;
    margin: 0 auto;
    padding: 0;
}
.result_collage_cnt.__wide {
    width: 354px; /* for 7 items in collage */
}

.result_collage_cnt.__one .result_collage_i_wr {
    float: none;
    margin: 0 auto;
}

.result_collage_i_wr {
    width: 210px;
    height: 210px;
    float: left;
    overflow: hidden;
}

.result_collage_i_wr + .result_collage_i_wr {
    width: 68px;
    height: 68px;
    margin: 0 0 3px 3px;
}

.result_collage_i {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* background-image from js */
    -webkit-filter: blur(1.5px);
    -moz-filter: blur(1.5px);
    -o-filter: blur(1.5px);
    -ms-filter: blur(1.5px);
    filter: blur(1.5px);
}

/**
 Важное замечание про: min-width:1px
 Стили вычисляются renderCompleted() -> updateCssMutAppPropertiesValues() когда экран имеет width=0
 И правила типа body .info_title перебивают значения из шаблона
**/
@media (min-width:1px) and (max-width:600px)  {
    /* using body for making this rules more important then 'js-*' rules from engine.js */
    /*body .info_title {*/
        /*padding-top: 60px;*/
    /*}*/
    body .js-mutapp_share_fb {
        position: relative;
        margin-top: 16px;
        top:0 !important; /* изменение контролом drag меняет эти свойства. Подумать как обойтись без important */
        left:0 !important;
    }
    body .js-mutapp_share_vk {
        position: relative;
        margin-top: 16px;
        top:0 !important;
        left:0 !important;
    }
    body .js-btn_wr {
        padding-top: 16px;
        margin-top: 0;
    }
    body .js-download_btn_wr {
        padding-top: 16px;
        margin-top: 0;
    }
    body .logo {
        position: initial;
        margin: 20px auto;
    }

    .modal_cnt {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .photostory .modal_cnt {
        padding: 0;
    }
    .modal {
        overflow: auto;
        /*box-sizing: border-box;*/
        /*padding: 0 25px 0 25px;*/
    }
    .modal_hld {
        width: 100%;
        min-width: 250px;
    }
}


@media (min-width:1px) and (max-width:400px)  {
    /* рассчитано на ширину 320 - 400px */
    .result_collage_i_wr {
        width: 169px;
        height: 169px;
    }
    .result_collage_i_wr + .result_collage_i_wr {
        width: 55px;
        height: 55px;
        margin: 0 0 2px 2px;
    }
    .result_collage_cnt {
        width: 227px;
    }
    .result_collage_cnt.__wide {
        width: 284px;
    }
}