<div ng-controller="TextInput">
    <div id="colorpicker1" class="input-prepend color colorpicker" data-color="#000000" data-color-format="hex" data-colorpicker-guid="1">
        <span class="add-on"><i style="background-color: #000000;"></i></span>
        <input id="background" type="text" class="" value="#000000" name="background">
    </div>
    <script type="text/javascript">
        $('.colorpicker').colorpicker();
        $('.colorpicker input').click(function() {
            $(this).parents('.colorpicker').colorpicker('show');
        })
    </script>
</div>