html,
body {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
img {
    border: 0 none;
}
.wrapper {
    position: relative;
    height: 100%;
    overflow: auto;
}
.container {
    min-width: 960px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 42px 0;
}
.content {
    padding: 16px;
    background-color: #eee;
    overflow: hidden;
}

.button {
    display: inline-block;
    border: 0px solid;
    border-radius: 4px;
    background-color: #024889;
    color: #fff;
    min-width: 195px;
    min-height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 18px;
}
.button.__small {
    padding: 0 16px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.button + .button {
    margin-left: 12px;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    text-align: center;
    /*white-space: nowrap;*/
    background-color: #fff;
    background-size: cover;
    background-position: center;
    overflow: auto; /* vertical scrolling app in mobile touch devices */
}
.modal.__active {
    display: block;
}

.modal_cnt {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    min-height: 100%;
    border-radius: 4px;
}

.modal_hld {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    /*width: 480px;*/
    width: 100%;
    white-space: normal;
}

.card_field {
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    white-space: initial;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    display: inline-block;
    margin: 7px;
    cursor: pointer;
}
/* flip the pane when hovered */
/*.flip-container:hover .flipper, .flip-container.hover .flipper {*/
    /*transform: rotateY(180deg);*/
/*}*/
.flip-container.__opened .flipper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 90px;
    height: 140px;
    border-radius: 10px;
}
.flip-container.__horizontal, .front.__horizontal, .back.__horizontal {
    width: 140px;
    height: 90px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: #ccc;
    background: cover;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #666;
    background-size: cover;
    background-position: center;
}

.logo {
    position: absolute;
    width: 100px;
    height: 60px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    cursor: pointer;
    margin: 20px auto;
}

@media (max-width:600px)  {
    /* using body for making this rules more important then 'js-*' rules from engine.js */
    body .info_title {
        padding: 60px 0 16px;
    }
    body .info_tx {
        padding: 16px 0 16px;
    }
    body .explanation {
        padding: 16px 0 16px;
    }
    body .js-logo {
        position: initial;
        margin-top: 42px;
    }
    body .js-btn_wr {
        padding-top: 16px;
        margin-top: 0;
    }
    body .js-download_btn_wr {
        padding-top: 16px;
        margin-top: 0;
    }
    .modal_cnt {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .modal {

    }
    body .js-mutapp_share_fb {
        position: relative;
        margin-top: 16px;
        top:0 !important; /* изменение контролом drag меняет эти свойства. Подумать как обойтись без important */
        left:0 !important;
    }
    body .js-mutapp_share_vk {
        position: relative;
        margin-top: 16px;
        top:0 !important;
        left:0 !important;
    }
}
@media (max-width:400px)  {
    body .flip-container,
    body .front,
    body .back {
        width: 78px;
        height: 116px;
        border-radius: 8px;
    }
    body .flip-container.__horizontal,
    body .front.__horizontal,
    body .back.__horizontal {
        width: 78px;
        height: 50px;
        border-radius: 5px;
    }
    /* Когда экран рендерится первый раз, то this.$el.width()===0 и срабатывает это правило например, Которое сбивает сохраненные стили */
    /*body .card_field {*/
        /*padding: 6px;*/
    /*}*/

    body .card_field {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width:310px)  {
    body .flip-container,
    body .front,
    body .back {
        width: 68px;
        height: 110px;
        border-radius: 8px;
    }
    body .flip-container.__horizontal,
    body .front.__horizontal,
    body .back.__horizontal {
        width: 68px;
        height: 44px;
        border-radius: 5px;
    }
}