<!DOCTYPE html>
<html>
<head>
    <title>Testix</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--эти стили будут помещены только при публикации-->
    <link href="common.css" rel="stylesheet"/>
</head>
<body>
    <!-- Страница сделана на основе блока из editor.html -->
    <div id="id-preview_view">
        <div class="scr_wr">
            <div class="top">
                <div class="top_toolbar">
                    <div class="toolbar_left">
                        <a class="logo ml24" href="//testix.me" style="background-image:url(http://testix.me/i/Testix-logo-white-small.png)"></a>
                    </div>
                    <div class="toolbar_right">
                        <div id="id-user_toolbar" class="toolbar_user">
                            <a href="//testix.me/storefront.html" target="_blank" class="pbtn __small __green js-create_new">Создать свой тест</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="published_proj_back">
                <div id="id-product_iframe_cnt" class="proto_wr">
                    <!-- Сюда добавляем программно айфрейм с прототипом для редактирования -->
                    <!-- Don't delete comment below. It's the anchor for embedding -->
                    <!--embed_code-->
                </div>
                <div class="social_btns_cnt">
                    <!-- TODO -->
                </div>
            </div>
        </div>
    </div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter37720792 = new Ya.Metrika({
                        id:37720792,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/37720792" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>