/**
* author:       Gennady Tsarinny | skype : genagenson
* created:      26.10.15
**/
/*
---------------------------------------------------------------------------------- */
/* Vars */
/* /Vars */
/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url("./../../common/fonts/PT_Sans-Web-Regular.ttf");
}
@font-face {
  font-family: "PT Serif";
  src: url("./../../common/fonts/PT_Serif-Web-Regular.ttf");
}
/* /Fonts */
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "PT Sans", Arial;
  color: #fff;
}
.wrapper {
  position: relative;
  width: 1000px;
  height: 500px;
  transition: background 0.5s;
}
.wrapper.__sights {
  background-color: #49a154;
}
.wrapper.__holidays {
  background-color: #895397;
}
.wrapper.__sport {
  background-color: #ab3f55;
}
.wrapper.__food {
  background-color: #c2844a;
}
.wrapper.__dress {
  background-color: #598dba;
}
.container {
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: background-color 0.5s;
  background-image: url("../i/bg-pattern.png");
  background-size: 1000px 500px;
}
.container.__cherkess {
  background-color: #e5c558;
}
.container.__dagestan {
  background-color: #ea6170;
}
.container.__krym {
  background-color: #cdbe7c;
}
.container.__azer {
  background-color: #2c2d56;
}
.container.__kirgiz {
  background-color: #d63337;
}
.container.__russian {
  background-color: #9a2424;
}
.container.__tadjik {
  background-color: #cec995;
}
.container.__chechnya {
  background-color: #a2a896;
}
.ornament {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s;
}
.container.__cherkess .ornament {
  opacity: 1;
  background-image: url("../i/cherkess.png");
}
.container.__krym .ornament {
  opacity: 1;
  background-image: url("../i/krym.png");
}
.container.__dagestan .ornament {
  opacity: 1;
  background-image: url("../i/dagestan.png");
}
.container.__russian .ornament {
  opacity: 1;
  background-image: url("../i/russian.png");
}
.container.__chechnya .ornament {
  opacity: 1;
  background-image: url("../i/chechnya.png");
}
.container.__tadjik .ornament {
  opacity: 1;
  background-image: url("../i/tadjik.png");
}
.container.__azer .ornament {
  opacity: 1;
  background-image: url("../i/azer.png");
}
.container.__kirgiz .ornament {
  opacity: 1;
  background-image: url("../i/kirgiz.png");
}
.logo {
  position: absolute;
  top: 85px;
  left: 72px;
  width: 231px;
  height: 116px;
  background-repeat: no-repeat;
}
.wrapper.__sights .logo {
  background-image: url("../i/logo-sights.png");
}
.wrapper.__holidays .logo {
  background-image: url("../i/logo-holidays.png");
}
.wrapper.__sport .logo {
  top: 84px;
  background-image: url("../i/logo-sport.png");
}
.wrapper.__food .logo {
  top: 66px;
  left: 71px;
  height: 134px;
  background-image: url("../i/logo-food.png");
}
.wrapper.__dress .logo {
  top: 97px;
  height: 104px;
  background-image: url("../i/logo-dress.png");
}
.slogan {
  position: absolute;
  left: 100px;
  top: 215px;
  width: 800px;
  font-family: "PT Serif", sans-serif;
  font-size: 48px;
  line-height: 1.1;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  -webkit-font-smoothing: antialiased;
}
/* Buttons
-------------------------------------------------- */
.nation {
  position: absolute;
  top: 350px;
  left: 88px;
/* 100px - nation_i's left margin */
}
.nation_i {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  width: 188px;
  height: 42px;
  padding-left: 12px;
  margin: 0 0 12px 12px;
  line-height: 38px;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border: 2px solid #fff;
  border-right: 0;
  border-top-left-radius: 10px;
}
.nation_i.__azer:hover {
  background: #a8406b;
}
.nation_i.__kirgiz:hover {
  background: #00a651;
}
.nation_i.__russian:hover {
  background: #f2b11a;
}
.nation_i.__cherkess:hover {
  background: #2e650d;
}
.nation_i.__dagestan:hover {
  background: #2c3062;
}
.nation_i.__krym:hover {
  background: #e11042;
}
.nation_i.__tadjik:hover {
  background: #df357e;
}
.nation_i.__chechnya:hover {
  background: #537534;
}
.nation_i:after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 4px;
  right: -15px;
  transition: background 0.5s;
}
.wrapper.__sights .nation_i:after {
  background-color: #49a154;
}
.wrapper.__holidays .nation_i:after {
  background-color: #895397;
}
.wrapper.__sport .nation_i:after {
  background-color: #ab3f55;
}
.wrapper.__food .nation_i:after {
  background-color: #c2844a;
}
.wrapper.__dress .nation_i:after {
  background-color: #598dba;
}
.container.__cherkess .nation_i:after {
  background-color: #e5c558;
}
.container.__dagestan .nation_i:after {
  background-color: #ea6170;
}
.container.__krym .nation_i:after {
  background-color: #cdbe7c;
}
.container.__azer .nation_i:after {
  background-color: #2c2d56;
}
.container.__kirgiz .nation_i:after {
  background-color: #d63337;
}
.container.__russian .nation_i:after {
  background-color: #9a2424;
}
.container.__tadjik .nation_i:after {
  background-color: #cec995;
}
.container.__chechnya .nation_i:after {
  background-color: #a2a896;
}
/* /Buttons */
/* Navigation
-------------------------------------------------- */
.nav {
  position: absolute;
  top: 40px;
  right: 40px;
  text-align: right;
}
.nav_tx {
  margin-right: 50px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nav_ac {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background: transparent url("../i/nav-ac.png") 50% no-repeat;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.nav.__show .nav_ac {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.nav_cnt {
  margin-right: 50px;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: -webkit-transform 0.5s, opacity 0.2s;
  transition: transform 0.5s, opacity 0.2s;
}
.nav.__show .nav_cnt {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1;
  transition: -webkit-transform 0.5s, opacity 0.7s;
  transition: transform 0.5s, opacity 0.7s;
}
.nav_i {
  cursor: pointer;
  opacity: 0.5;
  text-transform: uppercase;
  transition: opacity 0.3s;
}
.nav_i:hover,
.nav_i.__active {
  opacity: 1;
}
/* /Navigation */
/* Retina */
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .container {
    background-image: url("../i/bg-pattern@2x.png");
  }
  .logo {
    width: 230px;
    height: 115px;
    background-size: 230px 115px;
  }
  .wrapper.__sights .logo {
    background-image: url("../i/logo-sights@2x.png");
  }
  .wrapper.__holidays .logo {
    background-image: url("../i/logo-holidays@2x.png");
  }
  .wrapper.__sport .logo {
    top: 85px;
    background-image: url("../i/logo-sport@2x.png");
  }
  .wrapper.__food .logo {
    top: 66px;
    left: 94px;
    height: 134px;
    background-size: 208px 134px;
    background-image: url("../i/logo-food@2x.png");
  }
  .wrapper.__dress .logo {
    top: 100px;
    left: 75px;
    width: 227px;
    background-size: 227px 100px;
    background-image: url("../i/logo-dress@2x.png");
  }
  .container.__cherkess .ornament {
    background-image: url("../i/cherkess@2x.png");
    background-size: 546px 143px;
  }
  .container.__krym .ornament {
    background-image: url("../i/krym@2x.png");
    background-size: 468px 326px;
  }
  .container.__dagestan .ornament {
    background-image: url("../i/dagestan@2x.png");
    background-size: 475px 160px;
  }
  .container.__russian .ornament {
    background-image: url("../i/russian@2x.png");
    background-size: 472px 242px;
  }
  .container.__chechnya .ornament {
    background-image: url("../i/chechnya@2x.png");
    background-size: 421px 119px;
  }
  .container.__tadjik .ornament {
    background-image: url("../i/tadjik@2x.png");
    background-size: 432px 240px;
  }
  .container.__azer .ornament {
    background-image: url("../i/azer@2x.png");
    background-size: 553px 216px;
  }
  .container.__kirgiz .ornament {
    background-image: url("../i/kirgiz@2x.png");
    background-size: 490px 139px;
  }
}
/* /Retina */
