.pano_cnt {
    position: absolute;
    top: 0;
    left: 0;
    /* это размер превью экрана. А значит размер картинки может быть меньше, если ее не хватает. */
    width: 800px;
    height: 600px;
    background-color: #aaa;
}
.pano_img {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.pin_wr {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    max-width: 200px;
    background-color: #33bbed;
    color: #ffffff;
}
.img_progress {
    display: none;
    color: black;
    margin: 0;
    font-size: 14px;
    font-family: Arial;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.spinner {
    display: inline-block;
    background: url(../i/loader.gif);
    width: 48px;
    height: 48px;
}