.pano_preview {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.pin_wr {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    max-width: 200px;
    background-color: #33bbed;
    color: #ffffff;
}