html, body {
    margin: 0;
    padding: 0;
}
.pano_cnt {
    position: absolute;
    top: 0;
    left: 0;
    /* это размер превью экрана. А значит размер картинки может быть меньше, если ее не хватает. */
    /*width: 800px;*/
    /*height: 600px;*/
    width: 100%;
    min-height: 100%;
    background-color: #aaa;
}
.pano_img {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.pin_wr {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    min-width: 50px;
    /*max-width: 200px;*/
    background-color: #33bbed;
    color: #ffffff;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.img_progress {
    display: none;
    color: black;
    margin: 0;
    font-size: 14px;
    font-family: Arial;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.spinner {
    display: inline-block;
    background: url(../i/loader.gif);
    width: 48px;
    height: 48px;
}
.pin_wr:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
}

.pin_wr.ar_bottom:after {
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #33bbed;
}
.pin_wr.ar_bottom_left:after {
    bottom: -10px;
    left: 0;
    margin-left: 0;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #33bbed;
}
.pin_wr.ar_bottom_right:after {
    bottom: -10px;
    right: 0;
    margin-left: 0;
    border-left: 10px solid transparent;
    border-right: 0px solid transparent;
    border-top: 10px solid #33bbed;
}
.pin_wr.ar_top:after {
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #33bbed;
}
.pin_wr.ar_top_left:after {
    top: -10px;
    left: 0;
    margin-left: 0;
    border-left: 0 solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #33bbed;
}
.pin_wr.ar_top_right:after {
    top: -10px;
    right: 0;
    margin-left: 0;
    border-left: 10px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 10px solid #33bbed;
}
.photo_viewer_testix_link {
    background: url(//testix.me/i/icons/testix-fav-32.png) no-repeat center !important;
    font-family: Arial, sans-serif;
}
.photo_viewer_space {
    width: 32px;
    height: 32px;
}
.photosphere_cnt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.photosphere_scroll_bar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99; /* more than z-index of .psv-hud-svg-container in photo-sphere-viewer.min.css*/
    width: 40px;
    height: 100%;
    /*height: calc(100% - 40px); psv-navbar psv-navbar--open height = 40px */
    background-color: rgba(32,32,32,0.32);
}
.photosphere_scrollbar_arr {
    background: url(//testix.me/i/products/fbPanorama/Arrow-vertical.png) no-repeat;
    background-position-x: center;
    background-position-y: 14px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.5dppx) {
    .photosphere_scrollbar_arr {
        background-image: url(//testix.me/i/products/fbPanorama/Arrow-vertical@2x.png);
        background-size: 12px 120px;
    }
}
.photosphere_fullscreen {
    position: absolute;
    bottom: 40px;
    right: 0;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
    background: url(//testix.me/i/products/fbPanorama/Icon-fullscreen.png) no-repeat center;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.5dppx) {
    .photosphere_fullscreen {
        background-image: url(//testix.me/i/products/fbPanorama/Icon-fullscreen@2x.png);
        background-size: 20px 20px;
    }
}