<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link href="css/style.css" rel="stylesheet">
</head>
<body style="background-color: #888">
    <div ng-controller="ArrayControl">
        <div class="slide_group" data-screen-group-name="">
            <div class="slide_group_label js-slide_group_name">Название группы</div>
            <div class="slide_group_items">
                <div class="slide_group_item js-slides_cnt">
                    <!-- Сюда вставляем контролы Slide -->

                    <!--<div class="slide_directive_wr">-->
                        <!--<div slide="" data-app-property="quizScr0" class="ng-isolate-scope">-->
                            <!--<div ng-controller="Slide" class="ng-scope">-->
                                <!--<div class="slide_thumb" ng-click="slideClicked()"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="slide_directive_wr">-->
                        <!--<div class="btn_class_gray slides_mt1 js-add"></div>-->
                    <!--</div>-->

                    <!--<div class="slide_directive_wr">-->
                        <!--<div slide="" data-app-property="quizScr0" class="ng-isolate-scope">-->
                            <!--<div ng-controller="Slide" class="ng-scope">-->
                                <!--<div class="slide_thumb" ng-click="slideClicked()"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="slide_group_item js-slide_group_controls">
                    <!-- Какие то контролы для группы экранов, например добавление нового -->
                    <div class="btn_plus_green slides_mt2 js-add"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>