<div>
    <div>
        <p>Привязка к результату</p>
        <p>Отметьте, на какие результаты повлияет каждый ответ</p>

        <div class="pers_opt_list_cnt">
            <div class="pers_opt_list js-options">
                <!--<div class="pers_opt_item">Хард рок</div>-->
                <!--<div class="pers_opt_item">Хард рок</div>-->
                <!--<div class="pers_opt_item __selected">Хард рок</div>-->
                <!--<div class="pers_opt_item">Хард рок</div>-->
                <!--<div class="pers_opt_item __linked">Шансон</div>-->
                <!--<div class="pers_opt_item">Хард рок</div>-->
                <!--<div class="pers_opt_item">Шансон</div>-->
                <!--<div class="pers_opt_item __linked">Шансон</div>-->
            </div>
        </div>

        <div class="pers_res_list_cnt">
            <div class="pers_res_list js-results">
                <!--<div class="pers_res_item __linked_weak">-->
                    <!--<p class="pers_res_title">Вы из 80-х bfuhryf yegvryg veghvg veghrv eghrv hgervh egv </p>-->
                    <!--<p class="pers_res_desc">Ваше детство прошло под BoneyM и Игоря Корнелюка. Вы еще застали rjhgeurhgbhu berjghb jtbghr btjhgb rtjhb rbt jgbrth bjrhtb irjbtiru htiuhrt iuhj oirthrtn ijkrn k</p>-->
                <!--</div>-->
                <!--<div class="pers_res_item __linked_strong">-->
                    <!--<p class="pers_res_title">Вы из 80-х</p>-->
                    <!--<p class="pers_res_desc">Ваше детство прошло под BoneyM и Игоря Корнелюка. Вы еще застали…</p>-->
                <!--</div>-->
                <!--<div class="pers_res_item">-->
                    <!--<p class="pers_res_title">Вы из 80-х</p>-->
                    <!--<p class="pers_res_desc">Ваше детство прошло под BoneyM и Игоря Корнелюка. Вы еще застали…</p>-->
                <!--</div>-->
                <!--<div class="pers_res_item">-->
                    <!--<p class="pers_res_title">Вы из 80-х</p>-->
                    <!--<p class="pers_res_desc">Ваше детство прошло под BoneyM и Игоря Корнелюка. Вы еще застали…</p>-->
                <!--</div>-->
                <!--<div class="pers_res_item">-->
                    <!--<p class="pers_res_title">Вы из 80-х</p>-->
                    <!--<p class="pers_res_desc">Ваше детство прошло под BoneyM и Игоря Корнелюка. Вы еще застали…</p>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="js-option_template" style="display:none">
        <div class="pers_opt_item">{{option_name}}</div>
    </div>
    <div class="js-result_template" style="display:none">
        <div class="pers_res_item __linked_weak">
            <p class="pers_res_title">{{title}}</p>
            <p class="pers_res_desc">{{description}}</p>
            <div class="pers_res_hover js-result_hover" style="display:none">
                <p class="">Выберите тип привязки</p>
                <div>
                    <div class="pers_res_hover_link_elem">
                        <div class="pers_res_icon __weak js-link_weak"></div>
                        <p>Слабая</p>
                    </div>
                    <div class="pers_res_hover_link_elem">
                        <div class="pers_res_icon __strong js-link_strong"></div>
                        <p>Сильная</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>