
<div class="slide_group" data-screen-group-name="">
    <div class="slide_group_items">
        <div class="slide_group_item js-slides_cnt">
            <!-- Сюда вставляем контролы Slide -->
        </div>
        <!--<div class="slide_group_item slides_ml1 js-slide_group_controls">-->
            <!--&lt;!&ndash; Какие то контролы для группы экранов, например добавление нового &ndash;&gt;-->
            <!--<div class="btn_plus_green slides_mt2 js-add"></div>-->
        <!--</div>-->
    </div>
    <div class="slide_group_label js-slide_group_name"></div>
    <!-- Шаблон для обертки элемента массива -->
    <div class="js-item_wr_template" style="display:none;">
        <div class="item_wr">
            <div class="sl_item_cnt js-item">
                <!-- Сюда будет добавлен вью элемента массива -->
            </div>
            <div class="sl_item_insert btn_class_gray slides_mt1 js-insert" style="display:none"></div>
            <div class="item_controls">
                <!-- Здесь контролы для управления одним элементом массива -->
                <div class="item_control __red js-delete">
                </div><div class="item_control __green js-clone">
                </div>
            </div>
        </div>
    </div>

    <!-- Шаблон для промежуточной кнопки добавления -->
    <div class="js-interim_btn_template" style="display:none">
        <div class="item_wr">
            <div class="btn_class_gray slides_mt1 js-insert"></div>
        </div>
    </div>
</div>