<div>
    <div>
        <div class="popup_header_cnt">
            <p class="popup_ctrl_header pts_string pts_option_feedback">Комментарии к ответам</p>
            <p class="popup_ctrl_desc pts_string pts_you_might_specify_feedback">Пользователи увидят их после ответа на вопрос</p>
        </div>
        <div class="pers_opt_list_cnt">
            <div class="pers_opt_list js-options">
                <!--<div class="pers_opt_item">Хард рок</div>-->
                <!--<div class="pers_opt_item">Хард рок</div>-->
                <!--<div class="pers_opt_item __selected">Хард рок</div>-->
                <!--<div class="pers_opt_item">Хард рок</div>-->
                <!--<div class="pers_opt_item __linked">Шансон</div>-->
                <!--<div class="pers_opt_item">Хард рок</div>-->
                <!--<div class="pers_opt_item">Шансон</div>-->
                <!--<div class="pers_opt_item __linked">Шансон</div>-->
            </div>
        </div>

        <div class="pers_res_list_cnt" style="overflow-y:none;">
            <div class="pers_res_list js-results" style="margin: 20px 15px;">
                <p class="pts_string pts_comment">Комментарий</p>
                <textarea class="popup_textarea js-feedback_textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="js-option_text_template" style="display:none">
        <div class="pers_opt_item __feedback">{{option_name}}</div>
    </div>
    <div class="js-option_img_template" style="display:none">
        <div class="pers_opt_item __feedback __img" style="background-image:url({{option_img}})"></div>
    </div>
</div>