<div class="modal_wr" style="display:block">
    <div class="modal __signup">
        <div class="su-reg_logo"></div>
        <div class="mt40"></div>
        <p class="su-signin_label js-message pts_string pts_enter_new_pass">Введите новый пароль</p>
        <input class="su-input js-actual_password" type="password" name="password" placeholder="Actual password"/>
        <input class="su-input js-password" type="password" name="password" placeholder="New password"/>
        <input class="su-input js-password_confirm" type="password" name="password" placeholder="Confirm new password"/>
        <span class="su-reg_btn js-change pts_string pts_save">Сохранить</span>
        <span class="close_dialog_btn __small __ext js-close"></span>
    </div>
</div>