<!-- Подтверждение регистрации: Выслали письмо с кодом на емайл -->
<div class="modal_wr">
    <div class="modal __signup">
        <div class="su-reg_logo"></div>
        <div></div>
        <div class="su-complete_logo mt70"></div>
        <p class="su-compl_label pts_string pts_almost_done">Почти готово!</p>
        <p class="su-compl_desc pts_string pts_we_sent_email">На указанный адрес мы выслали письмо с<br>подтверждением регистрации.<br><br>Ждем вас на Testix!</p>
        <div class="su-bottom">
            <a class="su-link js-to_signin pts_string pts_sign_in">Войти</a>
        </div>
        <span class="close_dialog_btn __small __ext js-close"></span>
    </div>
</div>