<div class="modal_wr">
    <div class="modal __signup">
        <div class="su-reg_logo"></div>
        <div class="mt40"></div>
        <p class="help_notif_h">Вначале два слова о важном.</p>
        <br>
        <p class="help_notif_text">Наш сервис «повзрослел». Внешне изменения практически не видны, но мы проделали большую работу, чтобы наши клиенты могли создавать проекты быстрее, а работа сервиса стала более стабильной.
            <br>К сожалению, взросление не проходит незаметно: ранее созданные проекты не совместимы с новой версией. Если у вас были сохраненные проекты, которые вы хотите восстановить, напишите нам на <a href="mailto:info@testix.me" target="_top">info@testix.me</a>, а если есть срочный вопрос – напишите <a href="https://t.me/OlegLukinov" target="_blank">сюда</a>.</p>
        <br>
        <p class="help_notif_text __small">С уважением, команда Testix</p>
        <div class="su-bottom">
            <a class="su-reg_btn js-apply">Принимаю</a>
        </div>
        <span class="close_dialog_btn __small __ext js-close"></span>
    </div>
</div>