<div class="modal_wr">
    <div class="modal __signup">
        <div class="su-reg_logo"></div>
        <div class="mt40"></div>
        <p class="help_notif_h">Друзья</p>
        <br>
        <p class="help_notif_text">Как вы знаете, в связи с действиями Роскомнадзора оказались заблокированными миллионы серверов Amazon. В связи с этим сервис Testix может временно не работать на территории России.
            Использование VPN позволяет продолжать работу в редакторе в обычном режиме. Тем не менее некоторые из опубликованных проектов могут оказаться временно недоступными. Мы внимательно следим за ситуацией и
            будем держать вас в курсе событий.</p>
        <div class="su-divider __short mt90"></div>
        <!--<br>-->
        <!--<p class="help_notif_text __small" style="width:300px;">Если ранее вы использовали для входа ваш facebook-аккаунт, пожалуйста, зарегистрируйтесь. Теперь вы сможете использовать один аккаунт для командной работы.</p>-->
        <div class="su-bottom">
            <a class="su-reg_btn js-close">Закрыть</a>
        </div>
        <span class="close_dialog_btn __small __ext js-close"></span>
    </div>
</div>