<div class="modal_wr">
    <div class="modal __sharepreview">
        <div class="shp_top">
            <div class="shp_top_leftcol">
                <span class="tx __12">Это изображение появится в социальной сети,<br>если пользователь поделится результатом <span class="js-result_label"></span></span>
            </div>
            <div class="shp_top_rightcol">
                <span class="link js-set_autogenerate" style="font-size:12px;margin-right:20px;">Вернуть автокартинку</span>
                <span class="pbtn __green js-load">Загрузить</span>
            </div>
        </div>
        <div class="shp_img js-image">
            <!--style="background-image: url(http://webneel.com/daily/sites/default/files/images/daily/05-2014/12-sunrise-picture.jpg)"-->
            <!--background-image + contain-->
        </div>
        <div class="shp_bottom">
            <p class="tx __12">Рекомендуемый размер изображения: <span class="js-img_size"></span></p>
        </div>
        <span class="close_dialog_btn __small __grey js-close"></span>
    </div>
</div>