<div class="modal_wr">
    <div class="modal __680">
        <div class="login_form">
            <p class="tx __24 __grey pts_string pts_pano_perm_expl">Чтобы опубликовать панораму на Facebook,<br>нам потребуются от Вас дополнительные разрешения.</p>
            <p class="tx __16 __grey mt20 pts_string pts_pano_perm_expl2">В появившемся окне Facebook нажмите "Разрешить"</p>
            <div class="fb_pano_icon mt20"></div>
            <div class="mt90">
                <span class="pbtn js-close pts_string pts_cancel">Отмена</span>
                <span class="pbtn js-ok pts_string pts_cont">Продолжить</span>
            </div>
        </div>
        <span class="close_dialog_btn __grey js-close"></span>
    </div>
</div>