<div class="modal_wr" style="display:block">
    <div class="modal __signup">
        <div class="su-reg_logo"></div>
        <div class="mt60 js-delimeter"></div>
        <p class="su-signin_label js-message pts_string pts_restore_pass_msg">Мы отправим письмо со ссылкой<br>восстановления на адрес вашей<br>электронной почты</p>
        <input class="su-input js-email" type="text" name="text" placeholder="email"/>
        <input class="su-input js-code" style="display:none" type="text" name="text" placeholder="Verification code"/>
        <input class="su-input js-password" style="display:none" type="password" name="password" placeholder="New password"/>
        <input class="su-input js-password_confirm" style="display:none" type="password" name="password" placeholder="Confirm new password"/>
        <span class="su-reg_btn js-restore pts_string pts_send">Отправить</span>
        <span class="su-reg_btn js-confirm pts_string pts_ready" style="display:none">Готово</span>
        <div class="su-bottom">
            <a class="su-link su-bottom_left_link js-to_signin pts_string pts_sign_in">Войти</a>
            <a class="su-link su-bottom_right_link js-to_signup pts_string pts_sign_up">Регистрация</a>
        </div>
        <span class="close_dialog_btn __small __ext js-close"></span>
    </div>
</div>