<div class="modal_wr" style="display:none">
    <div class="modal __signup">
        <div class="su-reg_logo"></div>
        <div class="mt70"></div>
        <p class="su-signin_label js-signin_message pts_string pts_signin_header">С возвращением! &#128522;</p>
        <input class="su-input js-email" type="text" name="email" placeholder="Email"/>
        <input class="su-input js-password" type="password" name="password" placeholder="Password"/>
        <span class="su-reg_btn js-signin pts_string pts_sign_in">Войти</span>
        <div class="su-bottom">
            <p class="su-link __grey su-bottom_left_link js-to_restore_pass pts_string pts_forgot_pass">Забыли пароль?</p>
            <a class="su-link su-bottom_right_link js-to_signup pts_string pts_sign_up">Регистрация</a>
        </div>
        <span class="close_dialog_btn __small __ext js-close"></span>
    </div>
</div>