<div class="modal_wr">
    <div class="modal __signup">
        <div class="su-reg_logo"></div>
        <div class="mt40"></div>
        <p class="help_notif_h">У нас новости!<br> Мы обновили платформу.</p>
        <br>
        <p class="help_notif_text">Наша команда полностью переработала движок Testix, чтобы работа стала стабильнее, а вы смогли создавать ваши проекты еще быстрее.</p>
        <div class="su-divider __short mt90"></div>
        <br>
        <p class="help_notif_text __small" style="width:300px;">Если ранее вы использовали для входа ваш facebook-аккаунт, пожалуйста, зарегистрируйтесь. Теперь вы сможете использовать один аккаунт для командной работы.</p>
        <div class="su-bottom">
            <a class="su-reg_btn js-apply">Регистрация</a>
        </div>
        <span class="close_dialog_btn __small __ext js-close"></span>
    </div>
</div>