<div class="modal_wr">
    <div class="modal __signup">
        <div class="su-reg_logo"></div>
        <div></div>
        <span class="su-reg_fb_btn js-facebook_signin">Войдите с помощью Facebook</span>
        <div class="su-signup_divr">
            <div class="su-divider"></div>
            <p class="su-reg_label">Или зарегистрируйтесь</p>
        </div>
        <input class="su-input js-email" type="text" name="email" placeholder="Email"/>
        <input class="su-input js-password" type="password" name="password" placeholder="Password"/>
        <span class="su-reg_btn js-signup">Регистрация</span>
        <div class="su-attr_cnt">
            <input type="checkbox" checked class="su-checkbox js-reg_attr_news"/>
            <p class="su-details">Разрешаю очень редко присылать мне новости о проекте и новых механиках</p>
        </div>
        <div class="su-attr_cnt">
            <input type="checkbox" checked class="su-checkbox js-reg_attr_policy"/>
            <p class="su-details">Соглашаюсь с <a href="#" target="_blank">правилами</a> использования сервиса и <a href="#" target="_blank">политикой конфиденциальности</a></p>
        </div>
        <div class="su-divider"></div>
        <div class="su-bottom">
            <p class="su-link_details">Уже есть аккаунт?</p>
            <span class="su-arr"></span>
            <a class="su-link js-to_signin">Войти</a>
        </div>
        <span class="close_dialog_btn __small __ext js-close"></span>
    </div>
</div>