<div class="modal_wr">
    <div class="modal __signup">
        <div class="su-reg_logo"></div>
        <!--<div class="mt40"></div>-->
        <!--<span class="su-reg_fb_btn js-facebook_signin">Войдите с помощью Facebook</span>-->
        <!--<div class="su-signup_divr">-->
            <!--<div class="su-divider"></div>-->
            <!--<p class="su-reg_label js-signup_message">Или зарегистрируйтесь</p>-->
        <!--</div>-->
        <p class="su-reg_label js-signup_message">&nbsp;</p>
        <input class="su-input js-email" type="text" name="email" placeholder="Email"/>
        <input class="su-input js-first_name" type="text" name="first_name" placeholder="First name"/>
        <input class="su-input js-last_name" type="text" name="last_name" placeholder="Last name"/>
        <input class="su-input js-password" type="password" name="password" placeholder="Password"/>
        <span class="su-reg_btn js-signup pts_string pts_sign_up">Регистрация</span>
        <div class="su-attr_cnt">
            <input type="checkbox" checked class="su-checkbox js-reg_attr_news"/>
            <p class="su-details pts_string pts_news_subscr">Разрешаю очень редко присылать мне новости о проекте и новых механиках</p>
        </div>
        <div class="su-attr_cnt">
            <input type="checkbox" checked class="su-checkbox js-reg_attr_policy"/>
            <p class="su-details pts_string pts_apply_terms">Соглашаюсь с <a href="terms.html" target="_blank">правилами</a> использования сервиса и <a href="privacy_policy.html" target="_blank">политикой конфиденциальности</a></p>
        </div>
        <!--<div class="su-divider"></div>-->
        <div class="su-bottom">
            <p class="su-link_details pts_string pts_have_account">Уже есть аккаунт?</p>
            <span class="su-arr"></span>
            <a class="su-link js-to_signin pts_string pts_sign_in">Войти</a>
        </div>
        <span class="close_dialog_btn __small __ext js-close"></span>
    </div>
</div>