html, body {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background-color: #c3c3c3;
    height: 100%;
    padding: 0;
    margin: 0;
}
.modal_wr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.9);
}
.modal {
    position: relative;
    top: 0;
    left: 0;
    width: 800px;
    margin: 100px auto;
    background-color: #fff;
    color: #555;
    text-align: center;
    padding: 20px;
}
.modal.__smallbox {
    width: 320px;
    height: 140px;
    padding-top: 40px;
}
.modal.__sharepreview {
    width: 806px;
    height: 511px;
    padding: 45px 42px 22px 42px;
}
.scr_wr {
    position: relative;
    height: 100%;
}
.scr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1024px;
}
/*.scr_dialog {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(63, 63, 63, 0.9);*/
    /*padding-top: 50px*/
/*}*/
.social_btns_cnt {
    min-height: 44px;
    margin: 0 auto;
}
.social_btn {
    display: inline-block;
    width: 44px;
    height: 44px;
    background: url(../editor/i/share-facebook.png) center no-repeat;
    cursor: pointer;
}
.social_btn.__fb {
    background-image: url(../editor/i/share-facebook.png);
}
.social_btn.__vk {
    background-image: url(../editor/i/share-vk.png);
}
.social_btn.__ok {
    background-image: url(../editor/i/share-ok.png);
}
.social_btn.__twitter {
    background-image: url(../editor/i/share-twitter.png);
}
.social_btn.__q {
    background-image: url(../i/q);
}
.link {
    color: #4c77b8;
    text-decoration: underline;
    cursor: pointer;
}
.tx {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #979797;
    font-weight: 400;
    margin: 0;
}
.tx.__bold {
    font-weight: 500;
}
.tx.__white {
    color: #fff;
}
.tx.__black {
    color: #000;
}
.tx.__grey {
    color: #464646;
}
.tx.__light {
    font-weight: 100;
}
.tx.__12 {
    font-size: 12px;
}
.tx.__16 {
    font-size: 16px;
}
.tx.__18 {
    font-size: 18px;
}
.tx.__24 {
    font-size: 24px;
}
.tx.__28 {
    font-size: 28px;
}
.tx.__32 {
    font-size: 32px;
}
.tx.__40 {
    font-size: 40px;
}
.mt2 {
    margin-top: 2px;
}
.mt4 {
    margin-top: 4px;
}
.mt6 {
    margin-top: 6px;
}
.ml12 {
    margin-left: 12px;
}
.ml24 {
    margin-left: 24px;
}
.ml32 {
    margin-left: 32px;
}
.ml80 {
    margin-left: 80px;
}
.mt90 {
    margin-top: 90px;
}
.pr40 {
    padding-right: 40px;
}
.pb40 {
    padding-bottom: 40px;
}
.pt80 {
    padding-top: 80px;
}
.ctx_menu_wr {
    position: absolute;
    top: 45px;
    right: 0;
    width: 219px;
    background-color: #434343;
    padding: 15px 0;
    z-index: 9;
}
.ctx_menu_item {
    padding: 10px 19px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.ctx_menu_item:hover {
    background-color: #343434;
}
.close_dialog_btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 30px;
    height: 30px;
    background: url(../i/Krestik-white.png) center no-repeat;
    cursor: pointer;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform:rotate(0deg);
}
.close_dialog_btn.__ext {
    top: 0;
    right: -54px;
}
.close_dialog_btn.__grey {
    background-image: url(../i/Krestik-dark.png);
}
.close_dialog_btn.__small {
    background-size: 20px 20px;
    top: 10px;
    right: 10px;
}
.close_dialog_btn:hover {
    -webkit-animation:spin 0.3s linear;
    -moz-animation:spin 0.3s linear;
    animation:spin 0.3s linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }

.file_input_wr {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    overflow: hidden;
}
.file_input {
    top: -10px;
    right: -10px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 500px;
    height: initial !important; /* в bootstrap есть правило на input[type="file"] height:30px */
}
.pbtn {
    display: inline-block;
    border: #979797 solid 1px;
    border-radius: 4px;
    min-width: 128px;
    padding: 12px 7px 12px 7px;
    color: #979797;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.pbtn:hover {
    text-decoration: none;
    color: #333;
}
.pbtn.__green {
    background-color: #1cbf61;
    color: #fff;
    border-color: #1cbf61;
}
.pbtn.__small {
    padding: 6px 7px 6px 7px;
}
.pbtn.__long {
    min-width: 225px;
}
.top {
    position: relative;
    width: 100%;
    min-width: 300px;
    height: 52px;
    background-color: #343434;
}
.top_proj_name {
    display: inline-block;
    color: #b8b8b8;
    font-size: 18px;
    padding-top: 6px;
}
.top_proj_input {
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #b8b8b8;
    font-size: 18px;
}
.delimeter {
    display: inline-block;
    vertical-align: top;
    height: 28px;
    border-left: 1px solid #929292;
    margin: 3px 16px;
}
.logo {
    display: inline-block;
    vertical-align: top;
    background: url(../i/Testix-logo-white-small.png) center no-repeat;
    width: 106px;
    height: 26px;
    background-size: contain;
}
.logo.__med {
    background-image: url(../i/Testix-logo-bottom.png);
    width: 193px;
    height: 97px;
}
.top_toolbar {
    position: relative;
    display: inline-block;
    white-space : nowrap;
    vertical-align: top;
    width: 100%;
    padding-top: 8px;
}
.top_toolbar.__full {
    width: 100%;
}
.toolbar_left {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 45%;
    padding-top: 4px;
}
.toolbar_right {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 53%;
    padding-top: 4px;
}
.toolbar_btns {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 49%;
    min-width: 530px;
}
.toolbar_user {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 10px;*/
    display: inline-block;
    vertical-align: top;
    min-width: 80px;
    /*width: 10%;*/
    /*padding: 5px;*/
    margin-top: -2px;
    cursor: pointer;
}
.user_avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #eee;
    border-radius: 999px;
    overflow: hidden;
}
.dropdown_btn {
    display: inline-block;
    position: relative;
    background: url(../i/drop-down-2.png) no-repeat center;
    width: 20px;
    height: 40px;
    cursor: pointer;
}
.tico {
    position: relative;
    display: inline-block;
    min-height: 16px;
    line-height: 1.5;
    cursor: pointer;
}
.tico_img {
    display: inline-block;
    padding-right: 7px;
    text-decoration: none;
    font-style: normal;
    background-repeat: no-repeat;
}
.i_eye {
    width: 30px;
    height: 22px;
}
.fb_login_button {
    display: inline-block;
    width: 253px;
    height: 47px;
    background: url(../i/facebook-login.png) no-repeat;
    cursor: pointer;
}
.menu_tabs_wr {
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #4c77b8;
}
.menu_tabs {
    margin: 0 auto;
}
.menu_tab {
    display: inline-block;
    vertical-align: top;
    min-width: 150px;
    min-height: 50px;
    padding: 14px 25px 10px;
    margin: 0;
    margin-left: -4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #414141;
    cursor: pointer;
    text-decoration: none;
}
.menu_tab:hover {
    text-decoration: none;
}
.menu_tab.__selected {
    border-bottom: 8px solid #4c77b8;
}
.header {
    margin: 0;
    padding: 33px 0;
    text-align: center;
    font-size: 28px;
    color: #777;
}
.login_form {
    position: relative;
    background-color: #fff;
    color: #979797;
    text-align: center;
    padding: 40px;
}
.content_wr {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}
.main_title {
    position: relative;
    height: 600px;
    background: url(../i/index_main.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
}
.main_title_logo {
    display: inline-block;
    background: url(../i/Testix-logo-big.png) no-repeat center;
    width: 348px;
    height: 146px;
}
.main_title_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
}
.main_title_content_wr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.main_title_content {
    padding-top: 120px;
}
.main_title_header {
    text-transform: uppercase;
    font-size: 114px;
    margin: 0;
}
.main_title_header2 {
    font-size: 40px;
    margin: 0;
    padding: 12px;
}
.main_title_desc {
    margin: 0;
    padding: 12px;
}
.main_title_btns_wr {
}

.main_what_is_it {
    width: 100%;
    height: 320px;
    background-color: #eff3f4;
}
.whats_it_elem {
    display: inline-block;
    vertical-align: top;
    width: 406px;
    text-align: left;
    padding-top: 82px;
}
.whats_it_elem_h {
    line-height: 36px;
    padding-left: 18px;
    border-left: 2px solid #00adee;
    font-weight: 500;
}
.whats_it_elem_p {
    padding: 20px 20px;
    line-height: 24px;
}

.main_whom {
    width: 100%;
    height: 350px;
    background-color: #343434;
}
.main_whom.__demo {
    height: 300px;
}
.main_whom_elem {
    display: inline-block;
    vertical-align: top;
    width: 270px;
    margin-top: 60px;
    text-align: center;
}
.main_whom_elem.__demo {
    margin-top: 30px;
}
.main_whom_icon {
    display: inline-block;
    width: 108px;
    height: 108px;
    background-color: #fff;
    border-radius: 999px;
    background-position: center;
    background-repeat: no-repeat;
}
.main_whom_icon.__bloggers {
    background-image: url(../i/icon-1.png);
}
.main_whom_icon.__news {
    background-image: url(../i/icon-2.png);
}
.main_whom_icon.__companies {
    background-image: url(../i/icon-3.png);
}
.main_whom_icon.__demo {
    background-color: #343434;
}
.main_whom_icon.__demo.__bloggers {
    background-image: url(../i/demo/icon-circle-1.png);
}
.main_whom_icon.__demo.__news {
    background-image: url(../i/demo/icon-circle-2.png);
}
.main_whom_icon.__demo.__companies {
    background-image: url(../i/demo/icon-circle-3.png);
}
.main_whom_h {
    padding: 8px 17px 17px 17px;
}
.main_whom_p {
    line-height: 24px;
}

.main_one_touch {
    background-color: #fff;
}
.product_screens_wr {
    position: relative;
    width: 896px;
    height: 290px;
    margin: 0 auto;
}
.product_scr {
    position: absolute;
    background-color: #e7e7e7;
    width: 340px;
    height: 270px;
}
.product_scr.__left {
    left: 0;
    top: 0;
}
.product_scr.__right {
    right: 0;
    top: 0;
}
.product_scr.__center {
    left: 241px;
    top: 20px;
    width: 410px;
    background-color: #ddd;
}


.main_preview {
    background-color: #fff;
}

.main_idea_publish {
    background-color: #343434;
    padding: 30px;
}

.main_try_now {
    background-color: #1cbe60;
    padding: 30px;
}

.main_footer {
    height: 22px;
    background-color: #343434;
    padding: 16px 24px 16px 24px;
    text-align: right;
}

.icon70 {
    display: inline-block;
    width: 70px;
    height: 70px;
}
.icon70.__preview {
    background: url(../i/icon-5.png) no-repeat center;
}
.icon70.__edit {
    background: url(../i/icon-4.png) no-repeat center;
}
.icon70.__publish {
    background: url(../i/icon-6.png) no-repeat center;
}

.icon80 {
    display: inline-block;
    width: 70px;
    height: 70px;
}
.icon80.__demoeditor {
    background: url(../i/demo/icon-2.png) no-repeat center;
}
.icon80.__demoedit {
    background: url(../i/demo/icon-1.png) no-repeat center;
}

.icon80.__demopublish {
    background: url(../i/demo/icon-3.png) no-repeat center;
}

.video_wr {
    position: absolute;
    width: 800px;
    height: 500px;
    left: 0;
    top: 0;
    z-index: 1;
}

.demo_main_your_design {
    background-color: #fff;
    padding-top: 50px;
}
.demo_main_your_design_scr {
    display: inline-block;
    width: 800px;
    height: 580px;
    background: url(../i/demo/Screenshot-1.png) center no-repeat;
}
.demo_main_your_design_h {
    padding-top: 22px;
}
.demo_main_your_design_p {
    line-height: 24px;
    padding: 28px 0 26px;
}

.demo_main_editor {
    background-color: #fff;
    padding-top: 50px;
}
.demo_main_editor_scr {
    display: inline-block;
    width: 800px;
    height: 634px;
    background: url(../i/demo/Screenshot-2.png) center no-repeat;
}
.demo_main_editor_h {
    padding-top: 22px;
}
.demo_main_editor_p {
    line-height: 24px;
    padding: 28px 0 26px;
}

.demo_main_publish {
    background-color: #fff;
    padding-top: 50px;
}
.demo_main_publish_scr {
    display: inline-block;
    width: 800px;
    height: 580px;
    background: url(../i/demo/Screenshot-3.png) center no-repeat;
}
.demo_main_publish_h {
    padding-top: 22px;
}
.demo_main_publish_p {
    line-height: 24px;
    padding: 28px 0 26px;
}

.demo_learn_more {
    background-color: #108295;
    height: 344px;
    margin-top: -140px;
    padding-top: 180px;
}
.demo_learn_more_p {
    line-height: 42px;
    padding: 30px;
}

.lang_item {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    line-height: 14px;
}
.lang_item.__active {
    color: #00adee;
}
.lang_item.__leftborder {
    border-left: 1px solid #979797;
}

.published_proj_back {
    background-color: #5d5d5d;
    width: 100%;
    padding-top: 20px;
}

.proto_wr {
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.proto_wr.__mob {
    background: url(../i/phone_1x.png); /* (308+13*2)x(532+74*2) */
    width: 306px;
    height: 540px;
    padding: 73px 13px 68px;
}

.proto_cnt {
    display: inline-block;
    /*width: 800px;*/
    /*height: 600px;*/
    border: none;
    padding: 0;
    margin: 0;
}
.proto_cnt.__hidden {
    /* makes it invisible */
    position: absolute;
    top:-9999px;
}

.loading_anim_wr {
    position: relative;
    height: 78px;
}
.loading_anim {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 78px;
    height: 78px;
    margin: -39px 0 0 -39px;
    text-indent: -9999em;
    background-image: url(../i/spinner-color.png);
    -webkit-animation: load 1.4s infinite linear;
    animation: load 3.4s infinite linear;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-origin: center;
    transform-origin: center;
}
.loading_anim.__white {
    background-image: url(../i/spinner.png);
}
@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.shp_top {
    position: relative;
    height: 63px;
}
.shp_img {
    width: 806px;
    height: 430px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #979797;
}
.shp_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 18px;
    text-align: center;
}
.shp_top_leftcol {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
}
.shp_top_rightcol {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}