html, body {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background-color: #f7f7f7;
    height: 100%;
    padding: 0;
    margin: 0;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.narrow_width {
    display: none;
}
.modal_wr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.9);
}
.modal {
    position: relative;
    top: 0;
    left: 0;
    width: 800px;
    margin: 100px auto;
    background-color: #fff;
    color: #555;
    text-align: center;
    padding: 20px;
}
.modal.__680 {
    width: 680px;
}
.modal.__smallbox {
    width: 320px;
    height: 140px;
    padding-top: 40px;
}
.modal.__sharepreview {
    width: 806px;
    height: 511px;
    padding: 45px 42px 22px 42px;
}
.scr_wr {
    position: relative;
    height: 100%;
    min-width: 320px;
}
.top+.scr_wr, .top+.mob_menu, .top+.published_proj_back {
    padding-top: 86px; /* 56 - top height */
}
.scr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1024px;
}
.lang_switcher {
    display: inline-block;
}
.lang_item {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    line-height: 14px;
}
.lang_item.__active {
    color: #00adee;
}
.lang_item.__leftborder {
    border-left: 1px solid #979797;
}
.social_btns_cnt {
    min-height: 44px;
    margin: 0 auto;
}
.social_btn {
    display: inline-block;
    width: 44px;
    height: 44px;
    background: url(../editor/i/share-facebook.png) center no-repeat;
    cursor: pointer;
}
.social_btn.__fb {
    background-image: url(../editor/i/share-facebook.png);
}
.social_btn.__vk {
    background-image: url(../editor/i/share-vk.png);
}
.social_btn.__ok {
    background-image: url(../editor/i/share-ok.png);
}
.social_btn.__twitter {
    background-image: url(../editor/i/share-twitter.png);
}
.social_btn.__q {
    background-image: url(../i/q);
}
.link {
    color: #4c77b8;
    text-decoration: underline;
    cursor: pointer;
}
.tx {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #979797;
    font-weight: 400;
    margin: 0;
}
.tx.__bold {
    font-weight: 500;
}
.tx.__white {
    color: #fff;
}
.tx.__black {
    color: #000;
}
.tx.__graphite {
    color: #484848;
}
.tx.__grey {
    color: #7d7d7d;
}
.tx.__light {
    font-weight: 100;
}
.tx.__12 {
    font-size: 12px;
}
.tx.__15 {
    font-size: 15px;
}
.tx.__16 {
    font-size: 16px;
}
.tx.__18 {
    font-size: 18px;
}
.tx.__20 {
    font-size: 20px;
}
.tx.__24 {
    font-size: 24px;
}
.tx.__28 {
    font-size: 28px;
}
.tx.__32 {
    font-size: 32px;
}
.tx.__40 {
    font-size: 40px;
}
.mt2 {
    margin-top: 2px;
}
.mt4 {
    margin-top: 4px;
}
.mt6 {
    margin-top: 6px;
}
.mt20 {
    margin-top: 20px;
}
.mt32 {
    margin-top: 32px;
}
.mt40 {
    margin-top: 40px;
}
.mt60 {
    margin-top: 60px;
}
.ml12 {
    margin-left: 12px;
}
.ml16 {
    margin-left: 16px;
}
.ml24 {
    margin-left: 24px;
}
.ml32 {
    margin-left: 32px;
}
.ml80 {
    margin-left: 80px;
}
.mt90 {
    margin-top: 90px;
}
.mr12 {
    margin-right: 12px;
}
.pr40 {
    padding-right: 40px;
}
.pb40 {
    padding-bottom: 40px;
}
.pt80 {
    padding-top: 80px;
}
.ctx_menu_wr {
    position: absolute;
    top: 45px;
    right: 0;
    width: 219px;
    background-color: #434343;
    padding: 15px 0;
    z-index: 9;
}
.ctx_menu_item {
    padding: 10px 19px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.ctx_menu_item:hover {
    background-color: #343434;
}
.close_dialog_btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 30px;
    height: 30px;
    background: url(../i/Krestik-white.png) center no-repeat;
    cursor: pointer;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform:rotate(0deg);
}
.close_dialog_btn.__ext {
    top: 0;
    right: -54px;
}
.close_dialog_btn.__grey {
    background-image: url(../i/Krestik-dark.png);
}
.close_dialog_btn.__small {
    background-size: 20px 20px;
    top: 10px;
    right: 10px;
}
.close_dialog_btn:hover {
    -webkit-animation:spin 0.3s linear;
    -moz-animation:spin 0.3s linear;
    animation:spin 0.3s linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }

.file_input_wr {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    overflow: hidden;
}
.file_input {
    top: -10px;
    right: -10px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 500px;
    height: initial !important; /* в bootstrap есть правило на input[type="file"] height:30px */
}
.pbtn {
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    padding: 12px 7px 12px 7px;
    color: #979797;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    min-width: 135px;
}
.pbtn:hover {
    text-decoration: none;
    color: #333;
}
.pbtn.__small {
    min-width: 110px;
    padding: 7px;
    font-size: 14px;
}
.pbtn.__long {
    min-width: 258px;
}
.pbtn.__blue {
    background-color: #499cf3;
    color: #fff;
}
.pbtn.__red {
    background-color: #ff4e4e;
    color: #fff;
}
.pbtn.__white {
    background-color: #fff;
    border: 1px solid;
    border-color: #499cf3;
    color: #499cf3;
}
.pbtn.__green {
    background-color: #1cbf61;
    color: #fff;
    border-color: #1cbf61;
}
.pbtn.__redwhitedot {
    border: 2px dotted;
    border-color: #ff4e4e;
    color: #ff4e4e;
    background-color: #fff;
    padding-left: 6px;
    padding-right: 6px;
}
.top {
    /*position: relative;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 300px;
    height: 56px;
    background-color: #000;
    z-index: 25; /* см config.editor.ui.topZIndex */
}
.top_proj_name {
    display: inline-block;
    color: #b8b8b8;
    font-size: 18px;
    padding-top: 6px;
}
.top_proj_input {
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #b8b8b8;
    font-size: 18px;
}
.mob_menu_switcher {
    position: absolute;
    right: 15px;
    top: 13px;
    display: none;
    width: 30px;
    height: 30px;
    background: url(../i/icon-menu.png) no-repeat center;
    cursor: pointer;
}
.mob_menu_switcher.__opened {
    background-image: url(../i/icon-close.png);
}
.mob_menu_cnt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3175bc;
}
.mob_menu {
    width: 100%;
    height: 100%;
    background-color: #3175bc;
    text-align: center;
}
.mob_menu_items_cnt {
    width: 240px;
    margin: 30px auto;
}
.mob_menu_item {
    display: block;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    border-bottom: 2px solid;
    border-color: #7397cc;
    text-decoration: none;
    cursor: pointer;
}
.delimeter {
    display: inline-block;
    vertical-align: top;
    height: 28px;
    border-left: 1px solid #929292;
    margin: 3px 16px;
}
.logo {
    display: inline-block;
    vertical-align: top;
    background: url(../i/logo-header.png) center no-repeat;
    width: 114px;
    height: 28px;
    background-size: contain;
}
.logo.__big {
    background-image: url(../i/logo_big.png);
    width: 277px;
    height: 104px;
}
.logo_beta {
    display: inline-block;
    vertical-align: top;
    background: url(../i/Beta.png) center no-repeat;
    width: 29px;
    height: 13px;
}
.top_toolbar {
    position: relative;
    display: inline-block;
    white-space : nowrap;
    vertical-align: top;
    width: 100%;
}
.toolbar_left {
    position: absolute;
    left: 0;
    top: 12px;
    text-align: left;
    min-width: 700px;
    height: 44px;
}
.toolbar_center {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 8%;
    min-width: 40px;
}
.toolbar_right {
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: right;
    min-width: 300px;
}
/*.toolbar_btns {*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*text-align: right;*/
    /*width: 49%;*/
    /*min-width: 530px;*/
/*}*/
/*.toolbar_btns.__45 {*/
    /*width: 45%;*/
/*}*/
.toolbar_user {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 10px;*/
    display: inline-block;
    vertical-align: top;
    min-width: 80px;
    /*width: 10%;*/
    /*padding: 5px;*/
    margin-top: -2px;
    cursor: pointer;
}
.user_avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #eee;
    border-radius: 999px;
    overflow: hidden;
}
.dropdown_btn {
    display: inline-block;
    position: relative;
    background: url(../i/drop-down-2.png) no-repeat center;
    width: 20px;
    height: 40px;
    cursor: pointer;
}
.tico {
    position: relative;
    display: inline-block;
    min-height: 16px;
    line-height: 1.9;
    cursor: pointer;
}
.tico_img {
    display: inline-block;
    padding-right: 7px;
    text-decoration: none;
    font-style: normal;
    background-repeat: no-repeat;
}
.i_eye {
    width: 30px;
    height: 22px;
}
.fb_login_button {
    display: inline-block;
    width: 253px;
    height: 47px;
    background: url(../i/facebook-login.png) no-repeat;
    cursor: pointer;
}
.menu_tab {
    display: inline-block;
    vertical-align: top;
    padding: 8px 7px 14px;
    margin: 0;
    margin-left: 18px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.menu_tab:hover {
    text-decoration: none;
}
.menu_tab.__selected {
    border-bottom: 4px solid #499cf3;
}
.header {
    margin: 0;
    padding: 40px 0 16px;
    text-align: center;
    font-size: 28px;
    color: #484848;
}
.login_form {
    position: relative;
    background-color: #fff;
    color: #979797;
    text-align: center;
    padding: 40px;
}
.fb_pano_icon {
    margin-left: auto;
    margin-right: auto;
    background: url(../i/icon-permission.png) no-repeat center;
    width: 180px;
    height: 92px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.5dppx) {
    .fb_pano_icon {
        background-image: url(../i/icon-permission.png);
        background-size: 180px 92px;
    }
}


.content_wr {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}
.main_title {
    position: relative;
    height: 375px;
    background: url(../i/top-img.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
}
.main_title_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
}
.main_title_content_wr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.main_title_content {
    padding-top: 40px;
}
.main_title_header {
    text-transform: uppercase;
    font-size: 114px;
    margin: 0;
}
.main_title_header2 {
    font-size: 28px;
    margin: 0;
    padding: 20px;
}
.main_title_desc {
    margin: 0;
    padding: 12px;
}
.main_title_btns_wr {
}
.main_title_btn_wr {
    display: inline-block;
}
.main_title_btn_wr + .main_title_btn_wr {
    margin-left: 24px;
}

.main_format_cards {
    height: 459px;
    background-color: #f7f7f7;
}
.format_cards_cnt {
    position: absolute;
    white-space: nowrap;
    margin: -60px 0 0 -58px;
}
.format_card {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    width: 320px;
    height: 480px;
    border-radius: 4px;
    white-space: normal;
    text-decoration: none;
}
.format_card + .format_card {
    margin-left: 24px;
}
.format_card_h {
    margin: 28px auto;
}
.format_preview {
    background: url(../i/preview-test.png) no-repeat center;
    background-size: 272px 204px;
    width: 272px;
    height: 204px;
    margin: 22px auto;
}
.format_preview.__test {
    background-image: url(../i/preview-test.png);
}
.format_preview.__memoriz {
    background-image: url(../i/preview-memory.png);
}
.format_preview.__fbPano {
    background-image: url(../i/preview-fbpanorama.png);
}
.format_card_t {
    margin-top: 26px;
    padding: 0 24px;
    text-align: left;
}
.format_card_d {
    margin-top: 12px;
    padding: 0 24px;
    text-align: left;
}
.format_card_icon_down {
    background: url(../i/icon-down-1.png) no-repeat center;
    background-size: 26px 17px;
    width: 26px;
    height: 17px;
    margin: 17px auto;
}
.format_card_icon_down.__1 {
    background: url(../i/icon-down-1.png) no-repeat center;
}
.format_card_icon_down.__2 {
    background: url(../i/icon-down-2.png) no-repeat center;
}
.format_card_icon_down.__3 {
    background: url(../i/icon-down-3.png) no-repeat center;
}

.format_tour {
    width: 100%;
    min-height: 680px;
    background-color: #fff;
    position: relative;
    white-space: nowrap;
}
.format_tour.__grey {
    background-color: #f7f7f7;
}
.fleft {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    min-width: 542px;
    position: relative;
    white-space: normal;
    text-align: left;
}
.fright {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    min-width: 542px;
    position: relative;
    white-space: normal;
    text-align: right;
}
.try_format {
    width: 380px;
    margin: 150px auto;
    text-align: left;
}
.try_format_d {
    margin-top: 31px;
}
.main_tests_img {
    background: url(../i/img-tests.png) no-repeat center;
    width: 674px;
    height: 580px;
    margin-top: 90px;
    display: inline-block;
}
.main_memoriz_img {
    background: url(../i/img-memory.png) no-repeat center;
    width: 674px;
    height: 586px;
    margin-top: 96px;
    display: inline-block;
}
.main_fbPanorama_img {
    background: url(../i/img-fbPanorama.png) no-repeat center;
    width: 622px;
    height: 404px;
    margin-top: 134px;
    display: inline-block;
}
.main_tests_img.narrow_width,
.main_memoriz_img.narrow_width,
.main_fbPanorama_img.narrow_width
{
    display: none;
}

.write_us {
    height: 400px;
    background-color: #3175bc;
}


.product_screens_wr {
    position: relative;
    width: 896px;
    height: 290px;
    margin: 0 auto;
}
.product_scr {
    position: absolute;
    background-color: #e7e7e7;
    width: 340px;
    height: 270px;
}
.product_scr.__left {
    left: 0;
    top: 0;
}
.product_scr.__right {
    right: 0;
    top: 0;
}
.product_scr.__center {
    left: 241px;
    top: 20px;
    width: 410px;
    background-color: #ddd;
}


.main_preview {
    background-color: #fff;
}

.main_idea_publish {
    background-color: #343434;
    padding: 30px;
}

.main_try_now {
    background-color: #1cbe60;
    padding: 30px;
}

.footer {
    position:relative;
    height: 22px;
    background-color: #000;
    padding: 16px 24px;
    text-align: right;
}
.footer_left {
    position: absolute;
    left: 24px;
    top: 16px;
}
.footer_right {
    position: absolute;
    right: 24px;
    top: 12px;
}
.icon_fb {
    display: inline-block;
    background: url('../i/icon-facebook.png') no-repeat center;
    width: 30px;
    height: 30px;
}
.icon_vk {
    display: inline-block;
    background: url('../i/icon-VK.png') no-repeat center;
    width: 30px;
    height: 30px;
}

.icon70 {
    display: inline-block;
    width: 70px;
    height: 70px;
}
.icon70.__preview {
    background: url(../i/icon-5.png) no-repeat center;
}
.icon70.__edit {
    background: url(../i/icon-4.png) no-repeat center;
}
.icon70.__publish {
    background: url(../i/icon-6.png) no-repeat center;
}

.icon80 {
    display: inline-block;
    width: 70px;
    height: 70px;
}
.icon80.__demoeditor {
    background: url(../i/demo/icon-2.png) no-repeat center;
}
.icon80.__demoedit {
    background: url(../i/demo/icon-1.png) no-repeat center;
}

.icon80.__demopublish {
    background: url(../i/demo/icon-3.png) no-repeat center;
}

.video_wr {
    position: absolute;
    width: 800px;
    height: 500px;
    left: 0;
    top: 0;
    z-index: 1;
}

.published_proj_back {
    background-color: #5d5d5d;
    width: 100%;
    padding-top: 10px;
}

.proto_wr {
    position: relative;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.proto_wr.__mob {
    background: url(../i/phone_1x.png); /* (308+13*2)x(532+74*2) */
    width: 306px;
    height: 540px;
    padding: 73px 13px 68px;
}
.pre_mob {
    display: inline-block;
    background-image: url(../i/icon-mobile-small.png);
    width: 19px;
    height: 31px;
    cursor: pointer;
}
.pre_desk {
    display: inline-block;
    background-image: url(../i/icon-desktop-small.png);
    width: 38px;
    height: 31px;
    cursor: pointer;
}

.proto_cnt {
    display: inline-block;
    /*width: 800px;*/
    /*height: 600px;*/
    border: none;
    padding: 0;
    margin: 0;
}
.proto_cnt.__hidden {
    /* makes it invisible */
    position: absolute;
    top:-9999px;
}

.loading_anim_wr {
    position: relative;
    height: 78px;
}
.loading_anim {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 78px;
    height: 78px;
    margin: -39px 0 0 -39px;
    text-indent: -9999em;
    background-image: url(../i/spinner-color.png);
    -webkit-animation: load 1.4s infinite linear;
    animation: load 3.4s infinite linear;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-origin: center;
    transform-origin: center;
}
.loading_anim.__white {
    background-image: url(../i/spinner.png);
}
@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.shp_top {
    position: relative;
    height: 63px;
}
.shp_img {
    width: 806px;
    height: 430px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #979797;
}
.shp_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 18px;
    text-align: center;
}
.shp_top_leftcol {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
}
.shp_top_rightcol {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
.hiw_header {
    width: 100%;
    margin: 0 auto;
    padding: 54px 0;
    font-size: 28px;
    text-align: center;
    color: #fff;
    background-color: #3175bc;
}
.hiw_story_wr {
    width: 100%;
    height: 332px;
    background-color: #fff;
}
.hiw_story {
    width: 1280px;
    margin: 0 auto;
    white-space : nowrap;
    font-size: 16px;
    color: #464646;
    text-align: center;
}
.hiw_story_item {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 425px;
    height: 332px;
}
.hiw_text {
    position: absolute;
    padding: 20px 35px;
    background-repeat: no-repeat;
    text-align: left;
}
.hiw_text.__1 {
    left: 70px;
    top: 10px;
}
.hiw_text.__2 {
    left: 114px;
    top: -10px;
    background-image: url(../i/howitworks/bubble-001.png);
    background-size: 294px 119px;
    width: 294px;
    height: 119px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.5dppx) {
    .hiw_text.__2 {
        background-image: url(../i/howitworks/bubble-001@2x.png);
    }
}
.hiw_text.__3 {
    left: 160px;
    top: 30px;
    background-image: url(../i/howitworks/bubble-002.png);
    background-size: 234px 123px;
    width: 234px;
    height: 123px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.5dppx) {
    .hiw_text.__3 {
        background-image: url(../i/howitworks/bubble-002@2x.png);
    }
}

.hiw_img {
    position: absolute;
}
.hiw_img.__1 {
    left: 60px;
    bottom: 0;
    background-image: url(../i/howitworks/howitworks-1.png);
    background-size: 283px 250px;
    width: 283px;
    height: 250px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.5dppx) {
    .hiw_img.__1 {
        background-image: url(../i/howitworks/howitworks-1@2x.png);
    }
}
.hiw_img.__2 {
    left: 0;
    bottom: 0;
    background-image: url(../i/howitworks/howitworks-2.png);
    background-size: 329px 281px;
    width: 329px;
    height: 281px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.5dppx) {
    .hiw_img.__2 {
        background-image: url(../i/howitworks/howitworks-2@2x.png);
    }
}
.hiw_img.__3 {
    left: -10px;
    bottom: 0;
    background-image: url(../i/howitworks/howitworks-3.png);
    background-size: 425px 280px;
    width: 425px;
    height: 280px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.5dppx) {
    .hiw_img.__3 {
        background-image: url(../i/howitworks/howitworks-3@2x.png);
    }
}

.hiw_action_wr {
    width: 100%;
    background-color: #343434;
}
.hiw_action {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.hiw_act_item {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    padding: 42px 30px;
    text-align: left;
    color: #fff;
    white-space: initial;
}
.hiw_act_num {
    width: 19px;
    height: 19px;
    padding: 9px 11px 12px;
    background-color: #3175bc;
    border-radius: 99px;
    text-align: center;
}
.hiw_act_h {
    margin: 20px 0;
}
.hiw_call_wr {
    width: 100%;
    background-color: #343434;
}
.hiw_call {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 80px;
}
.hiw_call_winner {
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 127px;
    height: 271px;
    background-image: url(../i/howitworks/howitworks-4.png);
    background-size: 127px 271px;
}
.hiw_selection {
    background-color: #3175bc;
}
.ct_call_wr {
    width:100%;
    height:100%;
    background-color: #3175bc;
}
.ct_call {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 120px;
}
.block_message {
    padding: 60px;
    background-color: #3175bc;
    height: 100%;
}
.paper_wr {
    width: 100%;
}
.paper {
    border: 1px solid;
    border-color: #ddd;
    background-color: #fff;
    margin: 24px;
    padding: 36px;
}
.paper_block {
    text-align: left;
    padding: 20px 50px;
}
.paper_link {
    color: #499cf3;
    text-decoration: none;
    cursor: pointer;
}

/* ============= */
/* Retina styles */
/* ============= */
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.5dppx) {
    .hiw_call_winner {
        background-image: url(../i/howitworks/howitworks-4@2x.png);
    }
    .logo {
        background-image: url(../i/logo-header@2x.png);
        background-size: 114px 28px;
    }
    .logo.__big {
        background-image: url(../i/logo_big@2x.png);
        background-size: 277px 104px;
    }
    .logo_beta {
        background-image: url(../i/Beta@2x.png);
        background-size: 29px 13px;
    }
    .main_title {
        background-image: url(../i/top-img@2x.jpg);
    }
    .format_preview.__test {
        background-image: url(../i/preview-test@2x.png);
    }
    .format_preview.__memoriz {
        background-image: url(../i/preview-memory@2x.png);
    }
    .format_preview.__fbPano {
        background-image: url(../i/preview-fbpanorama@2x.png);
    }
    .format_card_icon_down.__1 {
        background-image: url(../i/icon-down-1@2x.png);
        background-size: 26px 17px;
    }
    .format_card_icon_down.__2 {
        background-image: url(../i/icon-down-2@2x.png);
        background-size: 26px 17px;
    }
    .format_card_icon_down.__3 {
        background-image: url(../i/icon-down-3@2x.png);
        background-size: 26px 17px;
    }
    .main_tests_img {
        background-image: url(../i/img-tests@2x.png);
        background-size: 674px 580px;
    }
    .main_memoriz_img {
        background-image: url(../i/img-memory@2x.png);
        background-size: 674px 586px;
    }
    .main_memoriz_img {
        background-image: url(../i/img-memory@2x.png);
        background-size: 674px 586px;
    }
    .main_fbPanorama_img {
        background-image: url(../i/img-fbPanorama@2x.png);
        background-size: 622px 404px;
    }
    .icon_fb {
        display: inline-block;
        background-image: url('../i/icon-facebook@2x.png');
        background-size: 30px 30px;
    }
    .icon_vk {
        display: inline-block;
        background-image: url('../i/icon-VK@2x.png');
        background-size: 30px 30px;
    }
    .mob_menu_switcher {
        background-image: url(../i/icon-menu@2x.png);
        background-size: 30px 30px;
    }
    .mob_menu_switcher.__opened {
        background-image: url(../i/icon-close@2x.png);
        background-size: 30px 30px;
    }
}


/* =================== */
/* Small width screens */
/* =================== */
@media (max-width:1000px)  {
    .wide_width {
        display: none;
    }
    .narrow_width {
        display: block;
    }
    .pbtn.__long {
        min-width: 210px;
    }
    .toolbar_left {
        width: 100%;
        min-width: 300px;
    }
    .toolbar_right {
        display: none;
    }
    .mob_menu_switcher {
        display: block;
    }
    .editor .toolbar_right {
        /* в редакторе этот бар не прячем */
        display: block;
    }
    .editor .mob_menu_switcher {
        display: none;
    }
    .content_wr {
        width: 100%;
    }
    .menu_tab {
        display: none;
    }
    .logo.__big {
        width: 224px;
        height: 84px;
        background-size: 224px 84px
    }
    #id-video .st_preview_app {
        width: 100% !important;
        height: 90%;
    }
    #id-video .close_dialog_btn.__ext {
        top: -54px;
        right: 10px;
    }
    .tutorial_video {
        width: 100%;
        height: 80%;
    }
    #id-video .st_preview_app {
        margin: 70px auto;
    }
    .main_format_cards {
        display: none;
    }
    .main_title_header2 {
        font-size: 20px;
    }
    .main_title_btn_wr {
        display: block;
    }
    .main_title_btn_wr + .main_title_btn_wr {
        margin-left: 0;
        margin-top: 20px;
    }
    .format_tour {
        white-space: normal;
    }
    .fright, .fleft {
        width: 100%;
        min-width: 300px;
    }
    .try_format {
        margin: 40px auto;
        width: 100%;
        text-align: center;
    }
    .try_format_h, .try_format_d {
        padding: 0 40px;
        white-space: normal;
    }
    .try_format_d {
        text-align: left;
        max-width: 670px;
        margin: 24px auto;
    }
    .main_tests_img.narrow_width,
    .main_memoriz_img.narrow_width,
    .main_fbPanorama_img.narrow_width
    {
        display: block;
    }
    .main_tests_img, .main_memoriz_img, .main_fbPanorama_img {
        width: 90%;
        background-size: contain;
        height: 10em;
        min-height: 320px;
        background-position-x: left;
        margin-top: 30px;
    }
    .main_memoriz_img.narrow_width {
        float: right;
        background-position-x: right;
    }

    .modal,
    .modal.__smallbox {
        width: 100%;
        box-sizing: border-box;
    }
    .modal.__smallbox {
        max-width: 320px;
        height: 180px;
    }
    .login_form {
        padding: 40px 0;
    }

    .ct_call {
        width: 100%;
        padding: 120px 0 0;
    }
    .hiw_story {
        width: 100%;
        white-space: initial;
    }
    .hiw_story_wr {
        height: auto;
    }

    .hiw_story_item {
        display: block;
        width: 100%;
        height: auto;
    }
    .hiw_story_item + .hiw_story_item {
        border-top: 1px solid #333;
        padding-top: 20px;
    }

    .hiw_text {
        position: relative;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .hiw_text.__1,
    .hiw_text.__2,
    .hiw_text.__3 {
        top: 0;
        left: 0;
        /*width: auto;
        background-position: center top;*/
    }
    .hiw_img {
        position: relative;
        margin: 0 auto;
        width: 100%;
        background-repeat: no-repeat;
    }
    .hiw_img.__1,
    .hiw_img.__2,
    .hiw_img.__3 {
        width: 100%;
        top: 0;
        left: 0;
    }

    .hiw_action {
        width: auto;
    }

    .hiw_action {
        width: auto;
    }
    .hiw_call {
        width: auto;
    }
    .hiw_call_winner {
        width: 64px;
        height: 135px;
        background-size: 64px 135px;
    }
    .paper {
        padding: 20px 5px;
    }
    .paper_block {
        padding: 20px 5px;
    }
}
/* Small width screens */