.workspace {
    position: relative;
    padding: 0;
    background-color: #c3c3c3;
}
.product_cnt {
    position: relative;
    margin: 0 auto;
    /*padding-top: 20px;*/
}
.workspace_screens_iframe {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    overflow: visible;
}
.quick_controls_cnt {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide_group {
    display: inline-block;
    vertical-align: top;
    padding: 17px 10px 0 30px;
    height: 177px;
    border-right: solid 1px #343434;
}
.slide_group_label {
    margin-left: 5px;
    margin-bottom: 5px;
}
.slide_group_items {

}
.slide_group_item {
    /* width рассчитывается и задается из кода по количеству добавленных внутрь компонентов */
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.btn_plus_green {
    background: url("../i/i_plus_green.png");
    width: 41px;
    height: 41px;
    cursor: pointer;
}
.btn_class_gray {
    background: url("../i/i_plus_gray.png");
    width: 23px;
    height: 22px;
    cursor: pointer;
}
.slides_mt1 {
    margin-top: 40px;
}
.slides_mt2 {
    margin-top: 30px;
}
.slides_ml1 {
    margin-left: 10px;
}
.screen_controls_cnt {
    width: 100%;
    white-space: nowrap;
    height: 191px; /* 177 + 14 - scroll height */
    background-color: #545454;
    overflow-y: hidden;
    overflow-x: scroll;
}
.item_wr {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 5px;
}
.sl_item_cnt {
    display: inline-block;
    vertical-align: top;
}
.sl_item_insert {
    display: inline-block;
    vertical-align: top;
}
.item_controls{
    display: none;
}
.item_wr:hover .item_controls{
    display : block;
}
.item_control {
    display: inline-block;
    vertical-align: top;
    width: 82px;
    height: 29px;
    background-color: #343434;
    cursor: pointer;
}
.item_control.__red {
    background: url('../i/delete-slide.png') no-repeat center;
}
.item_control.__red:hover {
    background-color: #ff5f5f;
}
.item_control.__green {
    background: url('../i/clone-slide.png') no-repeat center;
}
.item_control.__green:hover {
    background-color: #1cbf61;
}
.workspace_cnt {
    position: relative;
    width: 100%;
    min-width: 1024px
}
.settings_panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    /* TODO 1000px - в расчете на то что хватит под все контролы которые появятся */
    min-height: 1000px;
    padding: 12px;
    background-color: #eee;
    border: 1px solid #bbb;
    color: #000;
}
.settings_panel.__right {
    right: 0;
    left: initial;
}
.settings_panel input{
    width: 146px
}
.select_dialog_back {
    margin: 0 auto;
    position: relative;
    width: 800px;
    height: 500px;
    background-color: #fff;
    border-radius: 4px;
    padding-top: 44px;
    color: #545454;
}
.select_dialog_caption {
    font-family: Roboto-Regular, Arial, san-serif;
    font-size: 32px;
    text-align: center;
}
.select_dialog_options_cnt {
    width: 100%;
    height: 326px;
    margin: 50px 0 30px 0;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.select_dialog_loading_anim {
    width: 220px;
    height: 220px;
    background: url('../i/loading.gif');
    margin: 50px auto;
}
.select_dialog_option {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    box-sizing: content-box;
}
.select_dialog_option_thumb_cnt {
    position: relative;
    width: 206px;
    height: 127px;
    /*width: 273px;*/
    /*height: 168px;*/
    background-size: contain;
    border: #bfbfbf solid 2px;
    background: url(../../products/test/i/editor/t1.jpg) no-repeat center;
}
.select_dialog_option_thumb_cnt.__upload {
    background: url(../i/upload-photo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.select_dialog_option_thumb_cnt:before {
    display: none;
    content: '';
    background: url(../i/select.png) no-repeat;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 17px;
    right: 19px;
}
.select_dialog_option.__active .select_dialog_option_thumb_cnt:before {
    display: block;
}
.select_dialog_option.__active .select_dialog_option_thumb_cnt {
    border: #1cbf61 solid 3px;
}
.select_dialog_option_label {
    margin-top: 9px;
    width: 206px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.select_dialog_button_cnt {
    text-align: center;
}
.selection_border {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #7f7f7f;
    pointer-events: none;
}
.selection_border_bullit {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #1cbf61;
    border: 1px solid #7f7f7f;
}
.selection_border_bullit.__1 {
    top: -3px;
    left: -3px;
}
.selection_border_bullit.__2 {
    top: -3px;
    right: -3px;
}
.selection_border_bullit.__3 {
    bottom: -3px;
    right: -3px;
}
.selection_border_bullit.__4 {
    bottom: -3px;
    left: -3px;
}
.control_cnt {
    margin-bottom: 7px;
}
.control_label {
    margin: 0;
    font-size: 14px;
    font-family: Roboto-Regular, Arial, san-serif;
    color: #636363;
}

/* Диалог публикации */
.pd_wr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.9);
    text-align: center;
}
.pd {
    position: relative;
    width: 800px;
    height: 500px;
    background-color: #fff;
    overflow: hidden;
    margin: 100px auto;
    padding: 0;
}
.pd_top {
    position: relative;
    height: 158px;
    background-color: #1cbf61;
    border-bottom: 1px solid #4c77b8;
}
.pd_tab_cnt {

}
.pd_header {
    margin: 0;
    padding-top: 28px;
    font-size: 28px;
}
.pd_tab_switcher {
    position: absolute;
    left: 0;
    bottom: 0;
}
.pd_tab_btn {
    display: inline-block;
    width: 400px;
    height: 60px;
    padding: 0;
    margin: 0;
    margin-left: -4px;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
}
.pd_tab_btn.__selected {
    border-bottom: 8px solid #4c77b8;
}
.pd_icon_link {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: url(../i/icon-link.png) center no-repeat;
}
.pd_icon_embed {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: url(../i/icon-code.png) center no-repeat;
}
.pd_col {
    display: inline-block;
    vertical-align: top;
    position: relative;
    min-height: 112px;
    padding: 0 3px;
    text-align: left;
}
.pd_col.__w150 {
    width: 150px;
}
.pd_link_input {
    width: 360px;
    height: 44px;
    background-color: #e4e4e4;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #414141;
    font-size: 14px;
    padding-left: 10px;
}
.pd_annotation_wr {
    position: absolute;
    bottom: 32px;
    width: 100%;
    color: #979797;
}
.pd_annotation_wr.__b0 {
    bottom: 0;
}
.pd_ann {
    width: 210px;
    margin: 0 auto 18px;
}
.pd_social_wr {
    margin: 0 auto;
}
.pd_embed_area {
    width: 511px;
    height: 107px;
    background-color: #e4e4e4;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #414141;
    font-size: 14px;
    resize: none;
}
.hint {
    position: absolute;
    min-width: 120px;
    max-width: 200px;
    background-color: #2222ff;
    padding: 10px;
    z-index: 1;
    color: #fff;
}