.enterprise .tx {
    color: #fff;
}
.enterprise .pbtn.tx {
    color: #000;
}
.enterprise .content_wr.__pricing {
    padding-bottom: 100px;
}
.pricing_title {
    position: relative;
    height: 326px;
    background: url(../i/pricing/general-header.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
}
.pricing_title.__free {
    background-image: url(../i/pricing/free-header.jpg);
    height: 270px;
}
.pricing_title.__basic {
    background-image: url(../i/pricing/basic-header.jpg);
    height: 270px;
}
.pricing_title.__business {
    background-image: url(../i/pricing/business-header.jpg);
    height: 270px;
}
.pricing_title.__education {
    background-image: url(../i/pricing/education-header.jpg);
    height: 270px;
}
.pricing_title.__enterprise {
    background-image: url(../i/pricing/mob-enterprise-header.jpg);
    height: 270px;
}

.pricing_title_h {
    position: relative;
    width: 100%;
    height: 44px;
}
.pricing_title_h.__free {
    padding-top: 12px;
    text-align: center;
    background-color: #4dc480;
}
.pricing_title_h.__basic {
    padding-top: 12px;
    text-align: center;
    background-color: #4c99f7;
}
.pricing_title_h.__business {
    padding-top: 12px;
    text-align: center;
    background-color: #ff4e4e;
}
.pricing_title_h.__education {
    padding-top: 12px;
    text-align: center;
    background-color: #4dc480;
}
.pricing_title_h.__enterprise {
    padding-top: 12px;
    text-align: center;
    background-color: #000;
}

.pricing_title_h h1 {
    margin: 0 auto;
}

.back_arr {
    position: absolute;
    top: 16px;
    left: 26px;
    width: 13px;
    height: 24px;
    background: url(../i/pricing/icon-price-back.svg);
}

.pricing_cards_blk {
    padding-top: 32px;
    background-color: #f7f7f7;
}

.pricing_cards_cnt {
    padding-top: 24px;
    white-space: nowrap;
}

.pricing_title_content {
    padding-top: 100px;
}

.pricing_card {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    width: 320px;
    /*height: 565px;*/
    white-space: normal;
    text-decoration: none;
    padding: 0;
}
.pricing_card + .pricing_card {
    margin-left: 24px;
}
.pricing_card .pbtn {
    width: 246px;
}

.pricing_card_h {
    position: relative;
    width: 100%;
    height: 165px;
    padding: 30px;
    color: #fff;
    box-sizing: border-box;
    text-align: left;
    font-size: 32px;
    border-radius: 4px;
    line-height: 24px;
}
.pricing_card_h.__free {
    background-color: #4dc480;
}
.pricing_card_h.__business {
    background-color: #ff4e4e;
    color: #ff4e4e;
}
.pricing_card_h.__basic {
    background-color: #4c99f7;
    color: #4c99f7;
}

.pricing_card_h p {
    margin: 0 0 20px;
    padding: 0;
}

.pricing_card_desc {
    padding: 28px;
    text-align: left;
    margin-top: -4px;
    position: relative;
    background-color: #fff;
}

.pricing_card_pro {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 46px;
    height: 20px;
    border-radius: 99px;
    background-color: rgba(255,255,255,.7);
    font-size: 15px;
    padding: 2px 0 2px 2px;
    box-sizing: border-box;
    text-align: center;
    line-height: initial;
}

.pricing_card_desc p {
    margin: 0 0 18px;
}

.pricing_card_desc_i {
    margin: 12px 0;
    min-height: 36px;
    white-space: nowrap;
}

.pricing_icon {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
}
.pricing_icon.__eye {
    background-image: url(../i/pricing/icons/eye.png);
}
.pricing_icon.__logo {
    background-image: url(../i/pricing/icons/logo.png);
}
.pricing_icon.__1site {
    background-image: url(../i/pricing/icons/1site.png);
}
.pricing_icon.__star {
    background-image: url(../i/pricing/icons/star.png);
}
.pricing_icon.__cross {
    background-image: url(../i/pricing/icons/cross.png);
}
.pricing_icon.__promopicture {
    background-image: url(../i/pricing/icons/promo%20picture.png);
}
.pricing_icon.__3sites {
    background-image: url(../i/pricing/icons/3sites.png);
}
.pricing_icon.__10sites {
    background-image: url(../i/pricing/icons/10sites.png);
}
.pricing_icon.__settings {
    background-image: url(../i/pricing/icons/settings.png);
}
.pricing_icon.__settings2 {
    background-image: url(../i/pricing/icons/settings2.png);
}
.pricing_icon.__settings3 {
    background-image: url(../i/pricing/icons/settings3.png);
}
.pricing_icon.__templates {
    background-image: url(../i/pricing/icons/templates.png);
}
.pricing_icon.__ads {
    background-image: url(../i/pricing/icons/ads.png);
}
.pricing_icon.__embed {
    background-image: url(../i/pricing/icons/embed.png);
}
.pricing_icon.__share {
    background-image: url(../i/pricing/icons/share.png);
}
.pricing_icon.__statistics {
    background-image: url(../i/pricing/icons/statistics.png);
}
.pricing_icon.__time {
    background-image: url(../i/pricing/icons/time.png);
}
.pricing_icon.__edit {
    background-image: url(../i/pricing/icons/edit.png);
}
.pricing_icon.__grow_line {
    background-image: url(../i/pricing/icons/grow_line.png);
}
.pricing_icon.__heart {
    background-image: url(../i/pricing/icons/heart.png);
}
.pricing_icon.__user {
    background-image: url(../i/pricing/icons/user.png);
}
.pricing_icon.__info {
    background-image: url(../i/pricing/icons/info.png);
}

.pricing_desc_txt {
    display: inline-block;
    max-width: 220px;
    white-space: normal;
    vertical-align: top;
    padding-left: 16px;
    padding-top: 2px;
}

.pricing_large_card {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 43px;
    background-color: #000;
    color: #000;
    text-align: left;
    margin-top: 28px;
}
.pricing_large_card.__education {
    background-color: #4dc480;
    color: #4dc480;
}
.pricing_large_card_i {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 220px;
    border-radius: 999px;
    background-position: center;
    background-size: cover;
    margin-left: 30px;
}
.pricing_large_card_i.__enterprise {
    background-image: url(../i/pricing/Main-web-dandelion.png);
}
.pricing_large_card_i.__education {
    background-image: url(../i/pricing/Main-web-books.png);
}
.pricing_large_card_desc {
    display: inline-block;
    vertical-align: top;
    width: 580px;
    padding: 20px 0 0 70px;
    line-height: 24px;
}
.pricing_large_card_desc p {
    margin-bottom: 16px;
}

.pricing_tariff_desc_blk {
    background-color: #fff;
}
.pricing_tariff_desc_blk.__enterprise {
    background-color: #000;
}

.pricing_tariff_desc_blk h2 {
    padding-top: 40px;
    font-size: 28px;
}

.pricing_tariff_desc_blk p {
    padding-top: 28px;
    line-height: 22px;
}

.pricing_tariff_signup_blk {
    width: 100%;
    padding: 50px 0;
    margin-top: 40px;
    border: 1px solid #4dc480;
    box-sizing: border-box;
}
.pricing_tariff_signup_blk.__basic {
    border-color: #4c99f7;
    padding: 34px 0;
}
.pricing_tariff_signup_blk.__business {
    border-color: #ff4e4e;
    padding: 34px 0;
}
.pricing_tariff_signup_blk.__enterprise {
    border-color: #fff;
    padding: 34px 0;
}
.pricing_tariff_signup_blk p {
    padding-top: 8px;
}

.pricing_tariff_signup_i {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

.pricing_tariff_signup_i span {
    color: #4dc480;
}
.pricing_tariff_signup_i.__enterprise span {
    color: #fff;
}
.pricing_tariff_signup_i.__basic span {
    color: #4c99f7;
}
.pricing_tariff_signup_i.__business span {
    color: #ff4e4e;
}

.pricing_tariff_signup_i .pbtn {
    width: 190px;
}
.pricing_tariff_signup_i.__1 {
    line-height: 42px;
    text-align: left;
}
.pricing_tariff_signup_i.__2 {
    line-height: 42px;
    text-align: right;
}
.pricing_tariff_signup_i.__3 {
    text-align: right;
}
.pricing_tariff_signup_i.__4 {
    text-align: center;
    width: 200px;
}

.pricing_feature_card {
    width: 100%;
    padding: 24px 10px 34px;
    border-bottom: 1px solid #4c99f7;
    text-align: left;
    color: #7d7d7d;
    font-family: 'Roboto-Medium', Arial;
    font-size: 15px;
    line-height: 18px;
}
.pricing_feature_card.__no_bottom_border {
    border-bottom: none;
}
.pricing_feature {
    display: inline-block;
    vertical-align: top;
    width: 580px;
}
.pricing_feature p {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 14px;
    margin: 0;
}
.pricing_feature.__left {
    width: 400px;
}
.pricing_feature.__left p {
    width: 216px;
}

.pricing_faq {
    background-color: #f7f7f7;
    padding: 40px;
}
.pricing_faq h3 {
    color: #484848;
    margin-bottom: 40px;
    font-size: 22px;
}
.pricing_col {
    display: inline-block;
    vertical-align: top;
    width: 490px;
    text-align: left;
}
.pricing_col + .pricing_col {
    margin-left: 20px;
}
.pricing_faq_q {
    padding: 0 0 40px;
    text-align: left;
}
.pricing_faq_h {
    font-size: 18px;
    line-height: 20px;
    color: #000;
    padding: 0 0 20px;
    margin: 0;
}
.pricing_faq_t {
    font-size: 15px;
    line-height: 20px;
    color: #7d7d7d;
    padding: 0;
    margin: 0;
}
.pricing_feature_h {
    padding-bottom: 40px;
}

.pricing_write_us {
    background-color: #3175bc;
    padding: 60px;
    text-align: center;
}
.pricing_write_us p {
    font-size: 22px;
}

.pricing_radio_btn_blk {
    text-align: left;
    color: #484848;
    padding: 5px;
}
.pricing_radio_btn_blk.__enterprise {
    color: #fff;
}
.pricing_radio_btn {
    position: relative;
    margin-right: 8px;
    border: 2px solid #fff;
    /*background-color: #fff;*/
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 99px;
    cursor: pointer;
}
.pricing_radio_btn.__enterprise {
    border: 2px solid #000;
}
.pricing_radio_btn:after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 14px;
    height: 14px;
    border: 1px solid #4c99f7;
    border-radius: 99px;
}
.pricing_radio_btn.__enterprise:after {
    border-color: #fff;
}
.pricing_radio_btn.__business:after {
    border-color: #ff4e4e;
}
.pricing_radio_btn:checked {
    background-color: #4c99f7;
}
.pricing_radio_btn.__enterprise:checked {
    background-color: #fff;
}
.pricing_radio_btn.__business:checked {
    background-color: #ff4e4e;
}
.blue {
    color: #4c99f7;
}
.pricing_feature_pro_imgs {
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #4c99f7;
    width: 1030px;
    margin: 0 auto;
}
.pricing_feature_pro_imgs_col {
    vertical-align: top;
    width: 500px;
    display: inline-block;
    text-align: left;
}
.pricing_feature_pro_imgs_col + .pricing_feature_pro_imgs_col {
    margin-left: 20px;
}
.pricing_feature_pro_imgs_col p {
    color: #7d7d7d;
    line-height: 20px;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    padding: 15px 0 24px;
}
.pricing_feature_pro_imgs_col img {
    width: 100%;
}

/* =================== */
/* Small width screens */
/* =================== */
@media (max-width:1000px)  {
    .content_wr.__pricing {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .pricing_title {
        background-image: url(../i/pricing/general-header-mob.jpg) no-repeat center;
        height: 240px;
    }
    .pricing_title_content {
        padding-top: 50px;
    }
    .pricing_cards_cnt {
        white-space: normal;
    }
    .pricing_card {
        display: block;
        margin: 0 auto;
    }
    .pricing_card + .pricing_card {
        margin: 20px auto;
    }
    .pricing_large_card {
        text-align: center;
    }
    .pricing_large_card_i {
        margin-left: 0;
    }
    .pricing_large_card_desc {
        width: 100%;
        padding: 30px 10px;
        box-sizing: border-box;
    }
    .pricing_tariff_signup_blk,
    .pricing_tariff_signup_blk.__basic,
    .pricing_tariff_signup_blk.__business,
    .pricing_tariff_signup_blk.__education,
    .pricing_tariff_signup_blk.__enterprise
    {
        padding: 30px;
    }
    .pricing_tariff_signup_i {
        display: block;
        vertical-align: top;
        width: 100%;
        text-align: left;
    }
    .pricing_tariff_signup_i.__1,
    .pricing_tariff_signup_i.__2,
    .pricing_tariff_signup_i.__3,
    .pricing_tariff_signup_i.__4 {
        text-align: left;
    }
    .pricing_tariff_signup_i.__4 {
        padding-bottom: 16px;
    }
    .pricing_tariff_signup_i.__2 {
        padding-bottom: 10px;
    }
    .pricing_title.__free {
        height: 184px;
    }
    .pricing_feature_card {
        box-sizing: border-box;
        padding: 20px 0 6px;
    }
    .pricing_feature,
    .pricing_feature.__left {
        width: 100%;
        padding-bottom: 14px;
    }
    .pricing_feature.__left p {
        padding-left: 10px;
    }
    .pricing_feature p {
        padding: 0;
    }
    .pricing_faq {
        padding: 40px 0 0;
    }
    .pricing_col_wr {

    }
    .pricing_col {
        width: 100%;
    }
    .pricing_faq_h {

    }
    .pricing_faq_q {

    }
    .pricing_feature_pro_imgs {
        width: 100%;
    }
    .pricing_feature_pro_imgs_col {
        width: 100%;
    }
    .pricing_feature_pro_imgs_col + .pricing_feature_pro_imgs_col {
        margin-left: 0;
    }
    .pricing_title.__education {
        background-image: url(../i/pricing/mob-education-header.jpg);
    }
    .pricing_col + .pricing_col {
        margin-left: 0;
    }
}

/* ============= */
/* Retina styles */
/* ============= */
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.5dppx) {
    .pricing_title {
        background-image: url(../i/pricing/general-header-mob@2x.jpg) no-repeat center;
    }
    .pricing_large_card_i.__enterprise {
        background-image: url(../i/pricing/Main-web-dandelion@2x.png);
    }
    .pricing_large_card_i.__education {
        background-image: url(../i/pricing/Main-web-books@2x.png);
    }
    .pricing_title.__free {
        background-image: url(../i/pricing/free-header@2x.jpg);
    }
    .pricing_title.__basic {
        background-image: url(../i/pricing/basic-header@2x.jpg);
    }
    .pricing_title.__business {
        background-image: url(../i/pricing/business-header@2x.jpg);
    }
    .pricing_title.__education {
        background-image: url(../i/pricing/education-header@2x.jpg);
    }
}

@media (max-width:1000px) and (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.5dppx) {
    .pricing_title.__education {
        background-image: url(../i/pricing/mob-education-header@2x.jpg);
    }
}