html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background-color: #c3c3c3;
    height: 100%;
    padding: 0;
    margin: 0;
}
.scr_wr {
    position: relative;
}
/* TODO как определять размер промо-приложения? */
.proto_cnt {
    position: absolute;
    top:-9999px; /* makes it invisible */
    left:0;
    width: 600px;
    height: 400px;
    border: #ff2211 solid 10px;
    padding: 0;
    margin: 0;
}
.scr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1024px;
}
.workspace {
    position: relative;
    padding: 0;
    background-color: #c3c3c3;
}
.product_cnt {
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
}
.quick_controls_cnt {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide_group {
    display: inline-block;
    vertical-align: top;
    padding: 17px 10px 0 30px;
    height: 177px;
    border-right: solid 1px #343434;
}
.slide_group_label {
    margin-left: 5px;
    margin-bottom: 5px;
}
.slide_group_items {

}
.slide_group_item {
    /* width рассчитывается и задается из кода по количеству добавленных внутрь компонентов */
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.btn_plus_green {
    background: url("../i/i_plus_green.png");
    width: 41px;
    height: 41px;
    cursor: pointer;
}
.btn_class_gray {
    background: url("../i/i_plus_gray.png");
    width: 23px;
    height: 22px;
    cursor: pointer;
}
.slides_mt1 {
    margin-top: 40px;
}
.slides_mt2 {
    margin-top: 30px;
}
.slides_ml1 {
    margin-left: 10px;
}
.screen_controls_cnt {
    width: 100%;
    white-space: nowrap;
    height: 191px; /* 177 + 14 - scroll height */
    background-color: #545454;
    overflow-y: hidden;
    overflow-x: scroll;
}
.item_wr {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 5px;
}
.item_controls{
    display: none;
}
.item_wr:hover .item_controls{
    display : block;
}
.item_control {
    display: inline-block;
    vertical-align: top;
    width: 82px;
    height: 29px;
    background-color: #343434;
    cursor: pointer;
}
.item_control.__red:hover {
    background-color: #ff5f5f;
}
.item_control.__green:hover {
    background-color: #1cbf61;
}
.workspace_cnt {
    position: relative;
    width: 100%;
    min-width: 1024px
}
.settings_panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    padding: 12px;
    background-color: #eee;
    border: 1px solid #bbb;
    min-height: 600px;
    color: #000;
}
.settings_panel.__right {
    right: 0;
    left: initial;
}
.settings_panel input{
    width: 146px
}
.top {
    width: 100%;
    height: 50px;
    background-color: #343434;
}
.top_proj_name {
    display: inline-block;
    color: #b8b8b8;
    font-size: 18px;
    padding-top: 6px;
}
.delimeter {
    display: inline-block;
    vertical-align: top;
    height: 28px;
    border-left: 1px solid #929292;
    margin: 3px 16px;
}
.logo {
    display: inline-block;
    vertical-align: top;
    background: url(../i/share-vk.png) center no-repeat;
    width: 44px;
    height: 34px;
    background-size: contain;
}
.top_toolbar {
    display: inline-block;
    vertical-align: top;
    width: 88%;
    padding-top: 8px;
}
.toolbar_left {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 49%;
}
.toolbar_btns {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 49%;
}
.toolbar_user {
    display: inline-block;
    vertical-align: top;
    min-width: 80px;
    width: 10%;
    padding-top: 5px;
    cursor: pointer;
}
.user_avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #eee;
    border-radius: 999px;
    overflow: hidden;
}
.dropdown_btn {
    display: inline-block;
    position: relative;
    background: url(../i/drop-down-2.png) no-repeat center;
    width: 20px;
    height: 40px;
    cursor: pointer;
}
.tico {
    position: relative;
    display: inline-block;
    min-height: 16px;
    line-height: 1.5;
    cursor: pointer;
}
.tico_img {
    display: inline-block;
    padding-right: 7px;
    text-decoration: none;
    font-style: normal;
    background-repeat: no-repeat;
}
.i_eye {
    width: 30px;
    height: 22px;
}
.select_dialog_back {
    margin: 0 auto;
    position: relative;
    width: 800px;
    height: 500px;
    background-color: #fff;
    border-radius: 4px;
    padding-top: 44px;
    color: #545454;
}
.select_dialog_caption {
    font-family: Roboto-Regular, Arial, san-serif;
    font-size: 32px;
    text-align: center;
}
.select_dialog_options_cnt {
    width: 100%;
    height: 326px;
    margin-top: 50px;
    text-align: center;
}
.select_dialog_loading_anim {
    width: 220px;
    height: 220px;
    background: url('../i/loading.gif');
    margin: 50px auto;
}
.select_dialog_option {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    box-sizing: content-box;
}
.select_dialog_option_thumb_cnt {
    position: relative;
    width: 206px;
    height: 127px;
    /*width: 273px;*/
    /*height: 168px;*/
    border: #bfbfbf solid 2px;
    background: url("../../products/test/i/editor/t1.jpg") no-repeat center;
}
.select_dialog_option_thumb_cnt.__upload {
    background: url("../i/upload_icon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.select_dialog_option_thumb_cnt:before {
    display: none;
    content: '';
    background: url(../i/check.jpg) no-repeat;
    position: absolute;
    width: 42px;
    height: 33px;
    top: 17px;
    right: 19px;
}
.select_dialog_option.__active .select_dialog_option_thumb_cnt:before {
    display: block;
}
.select_dialog_option.__active .select_dialog_option_thumb_cnt {
    border: #1cbf61 solid 3px;
}
.select_dialog_option_label {
    margin-top: 9px;
    width: 206px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.select_dialog_button_cnt {
    text-align: center;
}
.pbtn {
    display: inline-block;
    border: #979797 solid 1px;
    border-radius: 4px;
    min-width: 128px;
    padding: 12px 7px 12px 7px;
    color: #979797;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.pbtn.__green {
    background-color: #1cbf61;
    color: #fff;
    border-color: #1cbf61;
}
.pbtn.__small {
    padding: 5px 7px 5px 7px;
}
.selection_border {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #7f7f7f;
    pointer-events: none;
}
.selection_border_bullit {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #1cbf61;
    border: 1px solid #7f7f7f;
}
.selection_border_bullit.__1 {
    top: -3px;
    left: -3px;
}
.selection_border_bullit.__2 {
    top: -3px;
    right: -3px;
}
.selection_border_bullit.__3 {
    bottom: -3px;
    right: -3px;
}
.selection_border_bullit.__4 {
    bottom: -3px;
    left: -3px;
}
.file_input_wr {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    overflow: hidden;
}
.file_input {
    top: -10px;
    right: -10px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 500px;
    height: initial !important; /* в bootstrap есть правило на input[type="file"] height:30px */
}
.control_cnt {
    margin-bottom: 7px;
}
.control_label {
    margin: 0;
    font-size: 14px;
    font-family: Roboto-Regular, Arial, san-serif;
    color: #636363;
}
.close_dialog_btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 30px;
    height: 30px;
    background: url(../i/Krestik-white.png) center no-repeat;
    cursor: pointer;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform:rotate(0deg);
}
.close_dialog_btn.__ext {
    right: -54px;
}
.close_dialog_btn.__grey {
    background-image: url(../i/Krestik-dark.png);
}
.close_dialog_btn:hover {
    -webkit-animation:spin 0.3s linear;
    -moz-animation:spin 0.3s linear;
    animation:spin 0.3s linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }


/* Диалог публикации */
.pd_wr {
    width: 800px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
.pd_top {
    position: relative;
    height: 158px;
    background-color: #1cbf61;
    border-bottom: 1px solid #4c77b8;
}
.pd_tab_cnt {

}
.pd_header {
    margin: 0;
    padding-top: 28px;
    font-size: 28px;
}
.pd_tab_switcher {
    position: absolute;
    left: 0;
    bottom: 0;
}
.pd_tab_btn {
    display: inline-block;
    width: 400px;
    height: 60px;
    padding: 0;
    margin: 0;
    margin-left: -4px;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
}
.pd_tab_btn.__selected {
    border-bottom: 8px solid #4c77b8;
}
.pd_icon_link {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: url(../i/icon-link.png) center no-repeat;
}
.pd_icon_embed {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: url(../i/icon-code.png) center no-repeat;
}
.pd_col {
    display: inline-block;
    vertical-align: top;
    position: relative;
    min-height: 112px;
    padding: 0 3px;
    text-align: left;
}
.pd_col.__w150 {
    width: 150px;
}
.pd_link_input {
    width: 360px;
    height: 44px;
    background-color: #e4e4e4;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #414141;
    font-size: 14px;
    padding-left: 10px;
}
.pd_annotation_wr {
    position: absolute;
    bottom: 32px;
    width: 100%;
    color: #979797;
}
.pd_annotation_wr.__b0 {
    bottom: 0;
}
.pd_ann {
    width: 210px;
    margin: 0 auto 18px;
}
.pd_social_wr {
    margin: 0 auto;
}
.pd_embed_area {
    width: 511px;
    height: 107px;
    background-color: #e4e4e4;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #414141;
    font-size: 14px;
    resize: none;
}
.social_btn {
    display: inline-block;
    width: 44px;
    height: 44px;
    background: url(../i/share-facebook.png) center no-repeat;
    cursor: pointer;
}
.social_btn.__fb {
    background-image: url(../i/share-facebook.png);
}
.social_btn.__vk {
    background-image: url(../i/share-vk.png);
}
.social_btn.__ok {
    background-image: url(../i/share-ok.png);
}
.social_btn.__twitter {
    background-image: url(../i/share-twitter.png);
}
.social_btn.__q {
    background-image: url(../i/q);
}
.link {
    color: #0000ff;
    text-decoration: underline;
}
.tx {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #979797;
}
.tx.__white {
}
.ml12 {
    margin-left: 12px;
}
.ml24 {
    margin-left: 24px;
}
.mt90 {
    margin-top: 90px;
}
.ctx_menu_wr {
    position: absolute;
    top: 45px;
    right: 0;
    width: 219px;
    background-color: #434343;
    padding: 15px 0;
    z-index: 9;
}
.ctx_menu_item {
    padding: 10px 19px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.ctx_menu_item:hover {
    background-color: #343434;
}