.black {
    color: black;
}
input {
    width: 212px;
}
form {
    color: black;
}
form input {
    width: auto;
}
.add_quick_btn {
    background-image: url(../i/i-add.png);
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.delete_quick_btn {
    background: url(../i/Panel-delete.png) center no-repeat;
    background-size: 24px 24px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.add_screen_btn {

}
.slide_thumb {
    position: relative;
    width: 120px;
    height: 90px;
    background-color: #888; /* 888 - for test #fff;*/
    cursor: pointer;
    overflow: hidden;
}
.slide_preview{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.slide_selection {
    pointer-events: none;
}
.slide_selection.__active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #1cbf61;
    box-sizing: border-box;
}
.alt_cnt {
    padding-left: 4px;
}
.alt_item {
    display: inline-block;
    width: 57px;
    height: 28px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -4px;
    border: 1px solid #979797;
    cursor: pointer;
}
.alt_item.__selected {
    background-color: #499CF3;
    border-color: #499CF3;
}
.qp {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
.qp_back {
    min-width: 38px;
    height: 38px;
    text-align: center;
    margin: 0;
    padding: 2px;
    background-color: #000;
    border-radius: 6px;
}
.qp_triangle {
    margin: 0 auto;
    padding: 0;
    width: 16px;
    height: 8px;
    background-image: url(../i/Triangle-black.png);
}
.qp_item {
    display: inline-block;
    position: relative;
    padding: 4px;
    margin: 0;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.qp_item+.qp_item::before {
    top: 4px;
    left: 0;
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #fff;
}
.choose_image_wr {
    text-align: center;
    cursor: pointer;
}
.choose_image {
    width: 162px;
    min-height: 122px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid #979797;
}
.settings_panel .control_checkbox {
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.contr_btn {
    display: inline-block;
    min-width: 130px;
    padding: 7px 12px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #4c99f7;
    border-radius: 4px;
}

/*
Personality custom control
*/
.pers_opt_list_cnt {
    width: 275px;
    height: 426px;
    overflow-x: hidden;
    overflow-y: scroll;
    float: left;
    background-color: #d7d7d7;
}
.pers_opt_list {
    padding: 21px 28px;
}
.pers_opt_item {
    position: relative;
    width: 188px;
    height: 18px;
    padding: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fff;
    border: 2px solid #979797;
    border-radius: 4px;
    margin-bottom: 14px;
    cursor: pointer;
}
.pers_opt_item.__img {
    height: 140px;
    background-size: cover;
    background-position: center;
}
.pers_opt_item::before {
    display: none;
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    top: 12px;
    right: 8px;
    background-image: url('../i/icon-link-result-strong.png');
    background-position: center;
    background-repeat: no-repeat;
}
.pers_opt_item.__feedback::before {
    background-image: url('../i/feedback-indicator@3x.svg');
}
.pers_opt_item.__linked::before {
    display: block;
}
.pers_opt_item.__selected {
    color: #4c99f7;
    border-color: #4c99f7;
}
.pers_res_list_cnt {
    width: 525px;
    height: 426px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #eeeeee;
}
.pers_res_list {
    padding: 12px 20px;
    text-align: left;
}
.pers_res_item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 196px;
    height: 131px;
    margin: 5px;
    padding: 8px;
    background-color: #eee;
    border: 1px solid #979797;
    overflow: hidden;
}
.pers_res_item::before {
    display: none;
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    top: 12px;
    right: 8px;
    background-image: none;
}
.pers_res_item.__linked_weak::before {
    display: block;
    border-color: #4c99f7;
    background-image: url('../i/icon-link-result-weak.png');
}
.pers_res_item.__linked_strong::before {
    display: block;
    border-color: #4c99f7;
    background-image: url('../i/icon-link-result-strong.png');
}
.pers_res_title {
    text-align: center;
    font-size: 16px;
    color: #464646;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pers_res_desc {
    text-align: center;
    font-size: 14px;
    color: #6d6d6d;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pers_res_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.66);
    padding-top: 14px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.pers_res_icon {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 999px;
    cursor: pointer;
}
.pers_res_icon.__weak {
    background-image: url('../i/icon-link-result-weak.png');
}
.pers_res_icon.__strong {
    background-image: url('../i/icon-link-result-strong.png');
}
.pers_res_icon.__delete {
    background-image: url('../i/icon-delete-link.png');
}
.pers_res_hover_link_elem {
    display: inline-block;
    vertical-align: top;
    width: 66px;
}
.popup_textarea {
    margin: 0px 0px 10px;
    width: 439px;
    height: 268px;
    outline: none;
    resize: none;
    box-shadow: none;
    color: #464646;
    padding: 20px;
    box-sizing: border-box;
}
.popup_textarea:focus {
    outline:none;
}
