.black {
    color: black;
}
input {
    width: 212px;
}
form {
    color: black;
}
form input {
    width: auto;
}
.add_quick_btn {
    background-image: url(../i/i-add.png);
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.delete_quick_btn {
    background: url(../i/Panel-delete.png) center no-repeat;
    background-size: 24px 24px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.add_screen_btn {

}
.slide_thumb {
    position: relative;
    width: 120px;
    height: 90px;
    background-color: #888; /* 888 - for test #fff;*/
    cursor: pointer;
    overflow: hidden;
}
.slide_preview{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.slide_selection {
    pointer-events: none;
}
.slide_selection.__active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #1cbf61;
    box-sizing: border-box;
}
.alt_cnt {
    padding-left: 4px;
}
.alt_item {
    display: inline-block;
    width: 57px;
    height: 28px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -4px;
    border: 1px solid #979797;
    cursor: pointer;
}
.alt_item.__selected {
    background-color: #1cbf61;
    border-color: #16914a;
}
.qp {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
.qp_back {
    min-width: 38px;
    height: 38px;
    text-align: center;
    margin: 0;
    padding: 2px;
    background-color: #000;
    border-radius: 6px;
}
.qp_triangle {
    margin: 0 auto;
    padding: 0;
    width: 16px;
    height: 8px;
    background-image: url(../i/Triangle-black.png);
}
.qp_item {
    display: inline-block;
    position: relative;
    padding: 4px;
    margin: 0;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.qp_item+.qp_item::before {
    top: 4px;
    left: 0;
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #fff;
}
.choose_image_wr {
    text-align: center;
    cursor: pointer;
}
.choose_image {
    width: 162px;
    min-height: 122px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid #979797;
}