.black {
    color: black;
}
input {
    width: 212px;
}
form {
    color: black;
}
form input {
    width: auto;
}
.add_quick_btn {
    background-image: url(../i/i-add.png);
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.delete_quick_btn {
    background-image: url(../i/i-delete.png);
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.add_screen_btn {

}